<style type="text/css">
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #00feff;
    }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid rgba(0, 254, 255, 0.5);
    }

    .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-rejected {
        color: black;
    }

    .font-blue-madison {
        color: #00feff !important;
    }

    .profile-usertitle-job {
        color: #00feff;
    }

    .profile-usermenu ul li.active a {
        color: #00feff;
        border-left: 2px solid #00feff;
    }

    .profile-usertitle-name {
        color: black;
    }

    .profile-usermenu ul li a:hover {
        color: rgba(0, 254, 255, 0.5);
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet ">
                <div class="profile-userpic">
                    <img src="<%= current_user.avatar.url.nil? ? "../../assets/img/placeholder.png" : current_user.avatar.url %>" class="img-responsive" alt="" style="width: 150px; height: 150px; border: 1px solid black; object-fit: cover;"> </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> <%= "#{current_user.first_name} #{current_user.last_name}" %> </div>
                    <div class="profile-usertitle-job"> <%= current_user.username %> </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <%= link_to admin_admin_profile_path do%>
                            <i class="icon-home"></i> Profile 
                            <%end%>
                        </li>
                        <li>
                            <%= link_to admin_admin_profile_settings_path do %>
                                <i class="icon-settings"></i> Account Settings 
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <span class="caption-subject font-blue-madison bold uppercase">Profile</span>
                                
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab"> Media </a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab"> Prayer </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <% if @prayers.count == 0 %>
                                        <h3 align="center">EMPTY</h3>
                                    <%else%>
                                        <div class="mt-comments">
                                            <% @prayers.each do |prayer| %>
                                                <div class="mt-comment">
                                                    <div class="mt-comment-img">
                                                        <img style="width: 45px; height: 45px; object-fit: cover; border: 1px solid black;" src="<%= current_user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : current_user.avatar.url %>" /> </div>
                                                    <div class="mt-comment-body">
                                                        <div class="mt-comment-info">
                                                            <span class="mt-comment-author"><%= (current_user.first_name.nil? && current_user.last_name.nil?) ?  current_user.username : "#{current_user.first_name} #{current_user.last_name}" %></span>
                                                            <span class="mt-comment-date"><%= prayer.created_at %></span>
                                                        </div>
                                                        <div class="mt-comment-text"> <%= prayer.details %> </div>
                                                        <div class="mt-comment-details">
                                                            <span class="mt-comment-status mt-comment-status-rejected"><%= prayer.subject %></span>
                                                            <ul class="mt-comment-actions">
                                                                <%= link_to admin_destroy_from_profile_path(prayer_id: prayer.id), data: {confirm: 'Are you sure you want to delete this prayer?'}, class: "btn btn-circle red btn-sm" do %>
                                                                    <i class="icon-trash"></i> Remove 
                                                                <% end %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                    <%end%>
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    <% if @media.count == 0 %>
                                        <h3 align="center">EMPTY</h3>
                                    <%else%>
                                        <div class="portfolio-content portfolio-4">
                                            <div id="js-grid-full-width" class="cbp">
                                                <% @media.each do |medium| %>
                                                    <div class="cbp-item">
                                                        <a href="<%= medium[:image] %>" class="cbp-caption cbp-lightbox" >
                                                            <div class="cbp-caption-defaultWrap">
                                                                <img src="<%= medium[:image] %>" alt="">
                                                            </div>
                                                            <div class="cbp-caption-activeWrap">
                                                                <div class="cbp-l-caption-alignLeft">
                                                                    <div class="cbp-l-caption-body">
                                                                        <div class="cbp-l-caption-desc">from <%= "#{medium[:group_name]} (#{medium[:group_code]})" %></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>