<% if !flash[:error].nil? %>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Warning!</strong> <%= flash[:error]%>
    </div>
<%end%>

<% if !flash[:notice].nil? %>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Success!</strong> <%= flash[:notice]%>
    </div>
<%end%>

<%= form_for User.new, as: :user, url: admin_create_admin_path, role: :form do |f| %>
    <%= f.hidden_field :role, value: 1 %>
    <div class="modal-body" style="margin-top: 25px;">
        <div class="form-group">
            <%= f.label "Email", class: "control-label" %>
            <%= f.email_field :email, placeholder: "Email", class: "form-control event_title", required: true %>
        </div>
        <div class="form-group">
            <%= f.label "Username", class: "control-label" %>
            <%= f.text_field :username, placeholder: "Username", class: "form-control event_title", required: true %>
        </div>
        <div class="form-group">
            <%= f.label "Password", class: "control-label" %>
            <%= f.password_field :password, placeholder: "Password", class: "form-control event_title", required: true %>
        </div>
    </div>
    <div class="modal-footer">
        <%= f.submit "Save", class: "btn green save-item" %>
    </div>
<%end%>