<style type="text/css">
	.chats li.out .message {
		border-right: 2px solid #00feff;
	}

	.chats li.in .message {
		border-left: 2px solid #00feff;
	}

	.chats li.out .message .arrow{
		border-left: 8px solid #00feff;
	}

	.chats li.in .message .arrow {
		border-right: 8px solid #00feff; 
	}

	.tabbable-line > .nav-tabs > li.active {
		border-bottom: 4px solid #00feff;
	}

	.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
		border-bottom: 4px solid rgba(0, 254, 255, 0.5);
	}

	.btn.blue:not(.btn-outline) {
		background-color: #00feff;
		border-color: #00feff;
	}

	.chat-form .btn-cont .arrow {
		border-right: 8px solid #00feff;
	}
</style>

<div class="mt-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">

                <ul class="nav nav-tabs">
                	<% (1..3).each do |c| %>
                	<li class="<%= c == 1 ? "active" : "" %>">
                        <a href="#tab_1_<%= c %>" data-toggle="tab"> <%= (c == 1 ? "WOMEN ONLY" : (c == 2 ? "MEN ONLY" : "GROUP TEXT")) %> </a>
                    </li>
                	<% end %>
                </ul>
                <div class="tab-content">
                	<% (1..3).each do |c| %>
            		<div class="tab-pane <%= c == 1 ? "active" : "" %> fontawesome-demo" id="tab_1_<%= c %>">
            			<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<span class="caption-subject font-hide bold uppercase"><%= (c == 1 ? "WOMEN ONLY" : (c == 2 ? "MEN ONLY" : "GROUP TEXT")) %></span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="scroller scroller-<%= c %>" style="height: 535px;">
									<% if c == 1 %>
										<!--<%= @chat_messages[:women_only].count %>
										<%= @chat_messages[:women_only_ids].count %>-->

										<% if @chat_messages[:women_only].count == 0 %>
											<h3 align="center">THIS CONVERSATION IS EMPTY</h3>
										<%else%>
											<ul class="chats chat-<%= c %>">
												<% w_counter = 0 %>
												<% @chat_messages[:women_only].each do |messages| %>
													<li class="<%= messages.user.id == current_user.id ? "out" : "in" %> delete">
														<img class="avatar" style="border: 1px solid black; height: 45px; width: 45px; object-fit: cover;" src="<%= messages.user.avatar.url.nil? ? "../../assets/img/placeholder.png" : messages.user.avatar.url %>" /> 

														<div class="message">
															
															<span class="arrow"> </span>
															<a href="javascript:;" class="name" style="color: grey;"> <%= messages.user.first_name.nil? && messages.user.last_name.nil? ? messages.user.username : "#{messages.user.first_name} #{messages.user.last_name}" %> </a>
															
															<span class="datetime"> at <%= "#{time_ago_in_words(messages.created_at)} ago" %> </span>
															<span class="body">
																<%= messages.body %>
															</span>
															<span class="body">
																<% if messages.group_medium.present? %>
																	<img src="<%= messages.group_medium.image.url %>" style="width: 500px;">
																<% end %>
															</span>
															<div class="delete-under" style="display: none;"><br>
																<a class="btn btn-circle red btn-sm delete-click" data-id="<%= @chat_messages[:women_only_ids][w_counter].join(',') %>" ><i class="icon-trash"></i> DELETE </a>
															</div>
														</div>
													</li>
													<% w_counter += 1 %>
												<%end%>
											</ul>
										<%end%>
									<% end %>
									<% if c == 2 %>
										<!--<%= @chat_messages[:men_only].count %>
										<%= @chat_messages[:men_only_ids].count %>-->
										<% if @chat_messages[:men_only].count == 0 %>
											<h3 align="center">THIS CONVERSATION IS EMPTY</h3>
										<%else%>
											<ul class="chats chat-<%= c %>">
												<% w_counter = 0 %>
												<% @chat_messages[:men_only].each do |messages| %>
													<li class="<%= messages.user.id == current_user.id ? "out" : "in" %> delete">
														<img class="avatar" style="border: 1px solid black; height: 45px; width: 45px; object-fit: cover;" src="<%= messages.user.avatar.url.nil? ? "../../assets/img/placeholder.png" : messages.user.avatar.url %>" /> 
														<div class="message">
															
															<span class="arrow"> </span>
															<a href="javascript:;" class="name" style="color: grey;"> <%= messages.user.first_name.nil? && messages.user.last_name.nil? ? messages.user.username : "#{messages.user.first_name} #{messages.user.last_name}" %> </a>
															
															<span class="datetime"> at <%= "#{time_ago_in_words(messages.created_at)} ago" %> </span>
															<span class="body">
																<%= messages.body %>
															</span>
															<span class="body">
																<% if messages.group_medium.present? %>
																	<img src="<%= messages.group_medium.image.url %>" style="width: 500px;">
																<% end %>
															</span>
															<div class="delete-under" style="display: none;"><br>
																<a class="btn btn-circle red btn-sm delete-click" data-id="<%= @chat_messages[:men_only_ids][m_counter].join(',') %>" ><i class="icon-trash"></i> DELETE </a>
															</div>
														</div>
													</li>

													<% m_counter += 1 %>
												<%end%>
											</ul>
										<%end%>
									<% end %>
									<% if c == 3 %>
										<!--<%= @chat_messages[:group_text].count %>
										<%= @chat_messages[:group_text_ids].count %>-->
										<% if @chat_messages[:group_text].count == 0 %>
											<h3 align="center">THIS CONVERSATION IS EMPTY</h3>
										<%else%>
											<ul class="chats chat-<%= c %>">
												<% g_counter = 0 %>
												<% @chat_messages[:group_text].each do |messages| %>
													<li class="<%= messages.user.id == current_user.id ? "out" : "in" %> delete">
														<img class="avatar" style="border: 1px solid black; height: 45px; width: 45px; object-fit: cover;" src="<%= messages.user.avatar.url.nil? ? "../../assets/img/placeholder.png" : messages.user.avatar.url %>" /> 
														<div class="message">
															
															<span class="arrow"> </span>
															<a href="javascript:;" class="name" style="color: grey;"> <%= messages.user.first_name.nil? && messages.user.last_name.nil? ? messages.user.username : "#{messages.user.first_name} #{messages.user.last_name}" %> </a>
															
															<span class="datetime"> at <%= "#{time_ago_in_words(messages.created_at)} ago" %> </span>
															<span class="body">
																<%= messages.body %>
															</span>
															<span class="body">
																<% if messages.group_medium.present? %>
																	<img src="<%= messages.group_medium.image.url %>" style="width: 500px;">
																<% end %>
															</span>
															<div class="delete-under" style="display: none;"><br>
																<a class="btn btn-circle red btn-sm delete-click" data-id="<%= @chat_messages[:group_text_ids][g_counter].join(',') %>"  ><i class="icon-trash"></i> DELETE </a>
															</div>
														</div>
													</li>
												<% g_counter += 1 %>
												<%end%>
											</ul>
										<%end%>
									<% end %>

								</div>
								<form method="post" class="chat-form send-form-<%= c %>">
									<input type="hidden" name="chatroom_type" value="<%= c %>">
									<input type="hidden" name="user_id" value="<%= current_user.id %>">
									<div class="input-cont">
										<input class="form-control" name="body" type="text" placeholder="Type a message here..." />
									</div>
									<div class="btn-cont send-<%= c %>">
										<span class="arrow"> </span>
										<a class="btn blue icn-only">
											<i class="fa fa-check icon-white"></i>
										</a>
									</div>
								</form>
							</div>
						</div>
            		</div>
                	<% end %>                    
                </div>
            </div>
        </div>
    </div>
</div>

<%= content_for(:important_javascript) do %>
	<script type="text/javascript">
		$(document).on("mouseenter", ".delete", function(){
        	$(this).find(".delete-under").css("display", "block");
        });

        $(document).on("mouseleave", ".delete", function(){
        	$(this).find(".delete-under").css("display", "none");
        });

        $(document).on("click", ".delete-click", function(){
        	if(confirm("Do you really want to delete this message?")){
				var li_parent = $(this).parent().parent().parent();
				var id = $(this).data("id");
				
				$.ajax({
					url: "<%= admin_ajax_delete_messaging_path %>",
					method: "post",
					data: { chatroom_message_id: id },
					success: function(e){
						console.log(e);
						li_parent.remove();
					}
				});
        	}
        });
        function empty(str){
            return !str || !/[^\s]+/.test(str);
        }

		<% (1..3).each do |c| %>
			$(".send-<%= c %>").click(function(){				
				$(".send-form-<%= c %>").submit();
			});

			$(".send-form-<%= c %>").submit(function(e){
				e.preventDefault();
				var $inputs = $('.send-form-<%= c %> :input');

				var input = null;

				var values = {};
			    $inputs.each(function() {
			        values[this.name] = $(this).val();
			        if(this.name == "body"){
			        	$(this).val(null);
			        }
			    });

			    if(values["body"] != ""){
			    	
			    	$.ajax({
						url: "<%= admin_ajax_messaging_path %>",
						method: "post",
						data: values,
						success: function(data){
							console.log(data);
							if($(".scroller-<%= c %>").find('ul')[0] == null){
								$(".scroller-<%= c %>").children().remove();
								$(".scroller-<%= c %>").append("<ul class=\"chats chat-<%= c %>\">");
							}
							 
							var datas = data["data"];
							var user = datas["user"];
							var string_to_append = "<li class=\"" + (user["id"] == <%= current_user.id %> ? "out" : "in" ) + " delete\">" +
								"<img class=\"avatar\" style=\"border: 1px solid black; height: 45px; width: 45px; object-fit: cover;\" src=\"" + (empty(user["avatar"]["url"]) ? "../../assets/img/placeholder.png" : user["avatar"]["url"]) + "\" >" +
								"<div class=\"message\">" +
									"<span class=\"arrow\"></span>" +
									"<a href=\"javascript;;\" class=\"name\" style=\"color: grey;\"> " + ((empty(user["first_name"]) || empty(user["last_name"])) ? user["username"] : user["first_name"] + " " + user["last_name"]) + " </a>" +
									"<span class=\"datetime\"> at " + datas["date_sent"] + "</span>" +
									"<span class=\"body\">" +
										datas["message"] +
									"</span>" +
									"<span class=\"body\">" +
										(datas["media"] == null ? "" : datas["media"]) +
									"</span>" +
									"<div class=\"delete-under\" style=\"display: none;\"><br>" +
									"<a class=\"btn btn-circle red btn-sm delete-click\" data-id=\"" + data["ids"] + "\" ><i class=\"icon-trash\"></i> DELETE </a></div>" +
								"</div>" +
							"</li>";
							$(".chat-<%= c %>").append(string_to_append);
							$(".scroller-<%= c %>").animate({ scrollTop: $(".chat-<%= c %>").height()-$(".scroller-<%= c %>").height() });
						}
					});
			    }
			});
		<% end %>
	</script>
<% end %>