<style type="text/css">
	.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green {
		background-color: #00feff;
	}

	.portlet.box.green {
		border: 1px solid #00feff;
	}

    .btn.green:not(.btn-outline) {
        background-color: #00feff;
        border-color: #00feff;
    }

    .font-green-soft {
    	color: black;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"> Groups </div>
        <div class="tools">
        	<button class="btn btn-circle green btn-default btn-sm" data-toggle="modal" data-target="#basic">
        		<i class="fa fa-plus"></i> Add Group
        	</button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-group accordion" id="accordion1">
        	<% is_first = true %>
	        <% @groups.each do |group| %>
		    	<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_<%= group[:id] %>"> <%= "#{group[:group_name]} (#{group[:group_code]})" %> </a>
	                    </h4>
	                </div>
	                <div id="collapse_<%= group[:id] %>" class="panel-collapse <%= is_first ? "in" : "collapse" %>">
	                    <div class="panel-body">
	                    	<div class="row">
	                    		<div class="col-md-2">
	                    			<img src="<%= group[:group_image].url.nil? ? "../assets/img/placeholder.png" : group[:group_image].url %>" class="img-circle img-responsive" alt="" style="border: 1px solid #eee;">

	                    		</div>
	                            <div class="col-md-10">
		                            <div class="col-md-12" ><br>
		                            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px solid #eee;">
		                                    <div class="dashboard-stat2 ">
		                                        <div class="display">
		                                            <div class="number">
		                                                <h3 style="color: black;">
		                                                    <span data-counter="counterup" data-value="<%= group[:member_count] %>"></span>
		                                                </h3>
		                                                <small>Members</small>
		                                            </div>
		                                            <div class="icon">
		                                                <i class="icon-user"></i>
		                                            </div>
		                                        </div>
		                                        <!-- <div class="progress-info">
		                                            <div class="progress">
		                                                <span style="width: 57%;" class="progress-bar progress-bar-success green-soft">
		                                                    <span class="sr-only">56% change</span>
		                                                </span>
		                                            </div>
		                                            <div class="status">
		                                                <div class="status-number"> 57% </div>
		                                            </div>
		                                        </div> -->
		                                    </div>
		                                </div>
		                            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px solid #eee;">
		                                    <div class="dashboard-stat2 ">
		                                        <div class="display">
		                                            <div class="number">
		                                                <h3 style="color: black;">
		                                                    <span data-counter="counterup" data-value="<%= group[:events_count] %>"></span>
		                                                </h3>
		                                                <small>Events</small>
		                                            </div>
		                                            <div class="icon">
		                                                <i class="icon-calendar"></i>
		                                            </div>
		                                        </div>
		                                        <!-- <div class="progress-info">
		                                            <div class="progress">
		                                                <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
		                                                    <span class="sr-only">56% change</span>
		                                                </span>
		                                            </div>
		                                            <div class="status">
		                                                <div class="status-number"> 57% </div>
		                                            </div>
		                                        </div> -->
		                                    </div>
		                                </div>
		                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px solid #eee;">
		                                    <div class="dashboard-stat2 ">
		                                        <div class="display">
		                                            <div class="number">
		                                                <h3 style="color: black;">
		                                                    <span data-counter="counterup" data-value="<%= group[:media_count] %>"></span>
		                                                </h3>
		                                                <small>Media</small>
		                                            </div>
		                                            <div class="icon">
		                                                <i class="icon-camera"></i>
		                                            </div>
		                                        </div>
		                                        <!-- <div class="progress-info">
		                                            <div class="progress">
		                                                <span style="width: 57%;" class="progress-bar progress-bar-success red-soft">
		                                                    <span class="sr-only">56% change</span>
		                                                </span>
		                                            </div>
		                                            <div class="status">
		                                                <div class="status-number"> 57% </div>
		                                            </div>
		                                        </div> -->
		                                    </div>
		                                </div>
		                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                                    <div class="dashboard-stat2 "><br>
		                                    	<%= link_to admin_dashboard_inbox_path(group[:id]), class: "btn btn-circle green btn-sm col-sm-12" do %>
		                                    		<i class="icon-eye"></i> View 
		                                    	<% end %><br><br>
	                                    		<%= link_to admin_dashboard_settings_path(group[:id]), class: "btn btn-circle red btn-sm col-sm-12" do %>
		                                    		<i class="icon-settings"></i> Group Settings 
		                                    	<% end %>
		                                    	<% if !group[:is_joined] %>
			                                    	<br><br>
		                                    		<%= link_to admin_join_group_path(group_id: group[:id]), class: "btn btn-circle green btn-sm col-sm-12" do %>
			                                    		<i class="icon-action-redo"></i> Join Group 
			                                    	<% end %>
		                                    	<% end %>
		                                    </div>
		                                </div>
		                            </div>
	                            </div>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	            <% is_first = false %>
		    <% end %>

		    
            
            <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2"> Example (OMFTR) </a>
                    </h4>
                </div>
                <div id="collapse_2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                    		<div class="col-md-2">
                    			<img src="../assets/img/placeholder.png" class="img-circle img-responsive" alt="" style="border: 1px solid #eee;">
                    		</div>
                            <div class="col-md-10">
	                            <div class="col-md-12" ><br>
	                            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px solid #eee;">
	                                    <div class="dashboard-stat2 ">
	                                        <div class="display">
	                                            <div class="number">
	                                                <h3 class="font-green-soft">
	                                                    <span data-counter="counterup" data-value="276"></span>
	                                                </h3>
	                                                <small>Members</small>
	                                            </div>
	                                            <div class="icon">
	                                                <i class="icon-user"></i>
	                                            </div>
	                                        </div>
	                                        <div class="progress-info">
	                                            <div class="progress">
	                                                <span style="width: 57%;" class="progress-bar progress-bar-success green-soft">
	                                                    <span class="sr-only">56% change</span>
	                                                </span>
	                                            </div>
	                                            <div class="status">
	                                                <div class="status-number"> 57% </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px solid #eee;">
	                                    <div class="dashboard-stat2 ">
	                                        <div class="display">
	                                            <div class="number">
	                                                <h3 class="font-purple-soft">
	                                                    <span data-counter="counterup" data-value="276"></span>
	                                                </h3>
	                                                <small>Events</small>
	                                            </div>
	                                            <div class="icon">
	                                                <i class="icon-calendar"></i>
	                                            </div>
	                                        </div>
	                                        <div class="progress-info">
	                                            <div class="progress">
	                                                <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
	                                                    <span class="sr-only">56% change</span>
	                                                </span>
	                                            </div>
	                                            <div class="status">
	                                                <div class="status-number"> 57% </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px solid #eee;">
	                                    <div class="dashboard-stat2 ">
	                                        <div class="display">
	                                            <div class="number">
	                                                <h3 class="font-red-soft">
	                                                    <span data-counter="counterup" data-value="276"></span>
	                                                </h3>
	                                                <small>Media</small>
	                                            </div>
	                                            <div class="icon">
	                                                <i class="icon-camera"></i>
	                                            </div>
	                                        </div>
	                                        <div class="progress-info">
	                                            <div class="progress">
	                                                <span style="width: 57%;" class="progress-bar progress-bar-success red-soft">
	                                                    <span class="sr-only">56% change</span>
	                                                </span>
	                                            </div>
	                                            <div class="status">
	                                                <div class="status-number"> 57% </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                                    <div class="dashboard-stat2 "><br>
	                                    	<%= link_to admin_dashboard_inbox_path(10), class: "btn btn-circle green btn-sm col-sm-12" do %>
	                                    		<i class="icon-eye"></i> View 
	                                    	<% end %><br><br>
                                    		<%= link_to admin_dashboard_settings_path(10), class: "btn btn-circle red btn-sm col-sm-12" do %>
	                                    		<i class="icon-settings"></i> Group Settings 
	                                    	<% end %>
	                                    </div>
	                                </div>
	                            </div>
                            </div>
                    	</div>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for :group, url: admin_create_group_path, role: :form do |f| %>
                <!-- <div class="modal-header"> -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -15px; margin-right: 10px;"></button>
                <!-- </div> -->
                <div class="modal-body" style="margin-top: 25px;">
                    <div class="form-group">
                        <%= f.label "Group Name", class: "control-label" %>
                        <%= f.text_field :group_name, placeholder: "Group Name", class: "form-control event_title" %>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Save Group", class: "btn green save-item" %>
                </div>
            <%end%>
        </div>
    </div>
</div>