Hello <%= @email %>!<br>
<br>
Someone has requested to retrieve your username. Your username is: <br>
<br>
<%= @username %><br>
<br>
If you didn't request this, please ignore this email. <br>
<br>
Your username won't change until you create a new one through settings in your account.