<style type="text/css">
    .login a {
        color: #000000 !important;
    }

    .login .content .form-control::-moz-placeholder {
        color: gray;
        opacity: 1;
    }
    
    .login .content .form-control:-ms-input-placeholder {
        color: gray;
    }
    
    .login .content .form-control::-webkit-input-placeholder {
        color: gray;
    }
</style>
<div class="logo">
    <img src="<%= controller_name == "passwords" ? "../" : "" %>assets/512by512.png" style="width: 150px;" /><!-- 
    <a style="font-size: 23px; text-decoration: none;">
        GOSPEL TRIBES
    </a> -->
</div>
<div class="content" style="margin-top: -20px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login-form") do |f| %>
        <div class="form-title">
            <span class="form-title" style="color: black;">Welcome.</span>
            <!-- <span class="form-subtitle" style="color: darkgray;">Please login.</span> -->
        </div>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter any username and password. </span>
        </div>
        <div class="form-group">
            <%= f.label :email, class: "control-label visible-ie8 visible-ie9" %>
            <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control", style: "background-color: white; color: black;",  autocomplete: "email" %>
        </div>
        <div class="form-group">
            <%= f.label :password, class: "control-label visible-ie8 visible-ie9" %>
            <%= f.password_field :password, placeholder: "Password", class: "form-control", style: "background-color: white; color: black;", autocomplete: "off" %>
        </div>
        <div class="form-actions">
            <%= f.submit "Login", class: "btn red btn-block uppercase", style: "background-color: black; border-color: black;" %>
        </div>
    <% end %>
</div>