<style type="text/css">
    .login a {
        color: #000000 !important;
    }

    .login .content .form-control::-moz-placeholder {
        color: gray;
        opacity: 1;
    }
    
    .login .content .form-control:-ms-input-placeholder {
        color: gray;
    }
    
    .login .content .form-control::-webkit-input-placeholder {
        color: gray;
    }
</style>
<div class="logo">
    <a style="font-size: 23px; text-decoration: none; color: black;">
        RESET PASSWORD 
    </a>
</div>

<div class="content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "login-form cpf" }) do |f| %>
    	<%= devise_error_messages! %>

        <%= f.hidden_field :reset_password_token %>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter any username and password. </span>
        </div>
        <div class="form-group">
            <%= f.label :password, "New password", class: "control-label visible-ie8 visible-ie9" %>
            <%= f.password_field :password, autofocus: true, placeholder: "Password", autofocus: true, class: "form-control form-control-solid placeholder-no-fix", style: "background-color: white; color: black;", autocomplete: "off" %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password", class: "control-label visible-ie8 visible-ie9" %>
            <%= f.password_field :password_confirmation, placeholder: "Confirm new password", class: "form-control form-control-solid placeholder-no-fix", style: "background-color: white; color: black;", autocomplete: "off" %>
        </div>
        <div class="form-actions">
            <%= f.submit "Change my password", class: "btn red btn-block uppercase", style: "background-color: black; border-color: black;" %>
        </div>
    <% end %>
    <a href="gospeltribes://?reset=1&reset_password_token=<%= params[:reset_password_token] %>" class="btn red btn-block uppercase oa" style="display: none;">OPEN APP</a>
</div>
<script type="text/javascript">
  var isMobile = window.orientation > -1;
  if(isMobile){
    $('.cpf').css('display','none');
    $('.oa').css('display', 'block');
  }
</script> 