<!DOCTYPE html>
<html lang="en">
    <head>
      <%= csp_meta_tag %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8" />
      <title>Gospel Tribes | Dashboard</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <!-- <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" /> -->
      <!-- <meta content="" name="author" /> -->

      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

      <%if controller.action_name == "media" || controller.action_name == "profile"%>
      <link href="../../assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />
      <%end%>
      
      <%if controller.action_name == "prayers"%>
      <link href="../../assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
      <%end%>

      <%if controller.action_name == "events"%>
      <link href="../../assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
      <%end%>
      <%if controller.action_name == "profile" || controller.action_name == 'profile_settings' || controller.action_name == "events" || controller.action_name == "settings"%>
      <link href="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
      <%end%>



      <link href="../../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
      <link href="../../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

      <%if controller.action_name == "media" || controller.action_name == "profile"%>
      <link href="../../assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />
      <%end%>

      <%if controller.action_name == "profile" || controller.action_name == 'profile_settings' || controller.action_name == "settings"%>
      <link href="../../assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
      <%end%>

      <link href="../../assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
      <link href="../../assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />

      <%= yield(:important_javascript) %>

      <link rel="shortcut icon" href="../../assets/img/MainLogo.png" />
      <style type="text/css">
        .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a>i, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {
          color: #00feff;
        }

        .alert-success {
          background-color: #00feff;
          border-color: #00feff;
          color: #ffffff;
        }
      </style>
      <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    </head>

    <body class="page-container-bg-solid">
        <% flash.each do |key, value| %>
          <%if key == "notice"%>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
              <strong>Success!</strong> <%= value %>
            </div>
          <%elsif key == "alert"%>
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
              <strong>Warning!</strong> <%= value %>
            </div>
          <%end%>
        <%end%>
        <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <div class="page-header" style="height: 63px;">
                        <div class="page-header-top">
                            <div class="container-fluid">
                                <div class="page-logo">
                                    <%= link_to(admin_dashboard_inbox_path) do%>
                                        <img src="../../assets/img/logo-default.png" alt="logo" class="logo-default">
                                    <% end %>
                                </div>
                                <!-- <a href="javascript:;" class="menu-toggler"></a> -->
                                <div class="top-menu">
                                    <ul class="nav navbar-nav pull-right">
                                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                            <%= link_to "Inbox", admin_dashboard_inbox_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :pages, action: :index) ? '#00feff' : '#9cabbc'};" %>
                                        </li>

                                        <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                            <%= link_to "Prayers", admin_dashboard_prayers_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :pages, action: :prayers) ? '#00feff' : '#9cabbc'};" %>
                                        </li>

                                        <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                            <%= link_to "Events", admin_dashboard_events_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :pages, action: :events) ? '#00feff' : '#9cabbc'};" %>
                                        </li>

                                        <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                            <%= link_to "Media", admin_dashboard_media_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :pages, action: :media) ? '#00feff' : '#9cabbc'};" %>
                                        </li>

                                        <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                            <%= link_to "Members", admin_dashboard_members_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :pages, action: :members) ? '#00feff' : '#9cabbc'};" %>
                                        </li>

                                        <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                            <%= link_to "Settings", admin_dashboard_settings_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :pages, action: :settings) ? '#00feff' : '#9cabbc'};" %>
                                        </li>

                                        <li class="droddown dropdown-separator">
                                            <span class="separator"></span>
                                        </li>

                                        <li class="dropdown dropdown-user dropdown-dark">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <img alt="" class="img-circle" style="height: 40px; width: 40px; object-fit: cover; border: 1px solid black;" src="<%= current_user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : current_user.avatar.url %>">
                                                <span class="username username-hide-mobile"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-default">
                                                <!-- <li style="background-color: #eee;"> -->
                                                <li>
                                                    <%= link_to(admin_dashboard_index_path) do %>
                                                        <i class="icon-users"></i> My Groups
                                                    <%end%>
                                                    <!-- <a href="#">
                                                        <i class="icon-users"></i> My Groups
                                                    </a> -->
                                                </li>
                                                <li>
                                                    <%= link_to(admin_admin_profile_path) do %>
                                                        <i class="icon-user"></i> My Profile
                                                    <%end%>
                                                </li>
                                                <!-- <li class="divider"> </li> -->
                                                <li>
                                                    

                                                    <%= link_to destroy_user_session_path do %>
                                                        <i class="icon-key"></i> Log Out
                                                    <%end%>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <div class="page-container">
                        <div class="page-content-wrapper">
                            
                            <div class="page-content">
                                <div class="container">
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <%= link_to "Dashboard",(admin_dashboard_index_path), { style: "color: black;" } %>
                                            <i class="fa fa-circle"></i>
                                        </li>

                                        <li>
                                            <%= link_to "#{@group.group_name} (#{@group.group_code})",(admin_dashboard_settings_path), { style: "color: black;" } %>
                                            <%if controller.action_name != "settings"%>
                                                <i class="fa fa-circle"></i>
                                            <%end%>
                                        </li>
                                        
                                        <%if controller.action_name == "profile" || controller.action_name == 'profile_settings'%>
                                        <li>
                                            <%= link_to "Members",(admin_dashboard_members_path), { style: "color: black;" } %>
                                            <%if controller.action_name != "settings"%>
                                                <i class="fa fa-circle"></i>
                                            <%end%>
                                        </li>
                                        <%end%>

                                        <li>
                                            <%case controller.action_name%>
                                            <%when "index"%>
                                                <%= link_to "Inbox",(admin_dashboard_inbox_path), { style: "color: black;" } %>
                                            <%when "prayers"%>
                                                <%= link_to "Prayers",(admin_dashboard_prayers_path), { style: "color: black;" } %>
                                            <%when "events"%>
                                                <%= link_to "Events",(admin_dashboard_events_path), { style: "color: black;" } %>
                                            <%when "media"%>
                                                <%= link_to "Media",(admin_dashboard_media_path), { style: "color: black;" } %>
                                            <%when "members"%>
                                                <%= link_to "Members",(admin_dashboard_members_path), { style: "color: black;" } %>
                                            <%when "profile"%>
                                                <%= link_to "Profile",(admin_dashboard_members_path), { style: "color: black;" } %>
                                            <%when "profile_settings"%>
                                                <%= link_to "Profile Settings",(admin_dashboard_members_path), { style: "color: black;" } %>
                                                
                                            <%end%>
                                            
                                        </li>
                                    </ul>
                                    <div class="page-content-inner">
                                        <%= yield %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="page-wrapper-row">
                <div class="page-wrapper-bottom">
                    <div class="page-footer">
                        <div class="container"> 2018 &copy; 
                            <a href="#">Gospel Tribes</a>
                        </div>
                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>

        
        
        <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

        <%if controller.action_name == "media" || controller.action_name == "profile"%>
            <script src="../../assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.js" type="text/javascript"></script>
        <%end%>
        
        <%if controller.action_name == "prayers"%>
            <script src="../../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <%end%>

        <%if controller.action_name == "events"%>
            <script src="../../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
            <script src="../../assets/global/plugins/moment.min.js" type="text/javascript"></script>
            <script src="../../assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
            <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
            <script src="../../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
            <script src="../../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

        <%end%>

        <%if controller.action_name == "profile_settings" || controller.action_name == "events" || controller.action_name == "settings"%>
            <script src="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
            <script src="../../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <%end%>

        <script src="../../assets/global/scripts/app.js" type="text/javascript"></script>

        <%if controller.action_name == "media" || controller.action_name == "profile"%>
            <script src="../../assets/pages/scripts/portfolio-4.js" type="text/javascript"></script>
        <%end%>
        <%if controller.action_name == "profile_settings"%>
            <script src="../assets/pages/scripts/profile.min.js" type="text/javascript"></script>
        <%end%>


        <%if controller.action_name == "prayers"%>
            <script src="../../assets/pages/scripts/components-bootstrap-select.js" type="text/javascript"></script>
        <%end%>
        
        <%if controller.action_name == "events"%>
            <script src="../../assets/pages/scripts/components-bootstrap-select.js" type="text/javascript"></script>
            <script src="../../assets/apps/scripts/sha2.js"></script>
            <script src="../../assets/apps/scripts/calendar.js" type="text/javascript"></script>
            <!-- <script src="../../assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script> -->
            <script type="text/javascript">
               jQuery(document).ready(function() {    
                  var monthly_events = [];
                  <% @events.each do |event| %>
                    <% if event.repeat == "Monthly" || event.repeat == "Weekly" %>

                      var this_start = new Date(<%= event.start_date.strftime("%Y").to_i %>, <%= (event.start_date.strftime("%m").to_i - 1 ) %>, <%= event.start_date.strftime("%d").to_i %>, <%= event.start_date.strftime("%H").to_i %>, <%= event.start_date.strftime("%M").to_i %>, <%= event.start_date.strftime("%S").to_i %>);
                      var this_end = <%= event.end_date.nil? ? "null".html_safe : "new Date(#{event.end_date.strftime("%Y").to_i}, #{(event.end_date.strftime("%m").to_i - 1 )}, #{event.end_date.strftime("%d").to_i}, #{event.end_date.strftime("%H").to_i}, #{event.end_date.strftime("%M").to_i}, #{event.end_date.strftime("%S").to_i})".html_safe %>;

                      monthly_events.push({ id: "<%= event.id %>", title: "<%= event.title %>", description: "<%= event.details %>", start: this_start, end: this_end, orig_date: new Date(<%= event.start_date.strftime("%Y").to_i %>, <%= (event.start_date.strftime("%m").to_i - 1 ) %>, <%= event.start_date.strftime("%d").to_i %>, <%= event.start_date.strftime("%H").to_i %>, <%= event.start_date.strftime("%M").to_i %>, <%= event.start_date.strftime("%S").to_i %>), backgroundColor: App.getBrandColor('<%= event.subtitle %>'), image: "<%= event.image.url %>", from_event_list_id: "<%= event.from_event_list %>", location: "<%= event.location %>", subtitle: "<%= event.subtitle %>", repeat: "<%= event.repeat %>", repeat_days: "<%= event.repeat_days %>", r: "<%= event.repeat %>", rd: "<%= event.repeat_days %>", this_end: this_end });
                    <%end%>
                  <%end%>

                   AppCalendar.init("<%= admin_dashboard_ajax_get_groups_path %>", monthly_events);
                   

                });
            </script>
       <%end%>

        <script src="../../assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../../assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <%= yield(:javascript) %>
    </body>

</html>