<!DOCTYPE html>
<html lang="en">
    <head>
      <%= csp_meta_tag %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8" />
      <title>Gospel Tribes | Dashboard</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <!-- <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" /> -->
      <!-- <meta content="" name="author" /> -->
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
      <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
      <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

      <%if controller.action_name == "prayers"%>
      <link href="../../assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
      <%end%>

      <link href="../../assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />


      <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
      <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

      <link href="../../assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />
      <link href="../../assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />

      <link href="../assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
      <link href="../assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
      <link href="../assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />

      <link rel="shortcut icon" href="../assets/img/MainLogo.png" />
      <style type="text/css">
        .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a>i, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {
          color: #00feff;
        }

        .alert-success {
          background-color: #00feff;
          border-color: #00feff;
          color: #ffffff;
        }
      </style>
      
    </head>

    <body class="page-container-bg-solid">
        <% flash.each do |key, value| %>
          <%if key == "notice"%>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
              <strong>Success!</strong> <%= value %>
            </div>
          <%elsif key == "alert"%>
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
              <strong>Warning!</strong> <%= value %>
            </div>
          <%end%>
        <%end%>
        <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <div class="page-header" style="height: 63px;">
                        <div class="page-header-top">
                            <div class="container-fluid">
                                <div class="page-logo">
                                    <%= link_to(admin_dashboard_index_path) do%>
                                        <img src="../assets/img/logo-default.png" alt="logo" class="logo-default">
                                    <% end %>
                                </div>
                                <!-- <a href="javascript:;" class="menu-toggler"></a> -->
                                <div class="top-menu">
                                    <ul class="nav navbar-nav pull-right">
                                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                            <%= link_to "Dashboard", admin_dashboard_index_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :dashboard, action: :index) ? '#00feff' : '#9cabbc'};" %>
                                            <!-- <%= current_page?(controller: :dashboard) %> -->
                                        </li>
                                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                            <%= link_to "Inbox", admin_admin_inbox_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :dashboard, action: :inbox) ? '#00feff' : '#9cabbc'};" %>
                                            <!-- <%= current_page?(controller: :dashboard) %> -->
                                        </li>
                                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                            <%= link_to "Prayers", admin_admin_prayers_path, class: "dropdown-toggle", style: "color: #{current_page?(controller: :dashboard, action: :prayers) ? '#00feff' : '#9cabbc'};" %>
                                            <!-- <%= current_page?(controller: :dashboard) %> -->
                                        </li>

                                        

                                        <li class="droddown dropdown-separator">
                                            <span class="separator"></span>
                                        </li>

                                        <li class="dropdown dropdown-user dropdown-dark">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <img alt="" class="img-circle" src="<%= current_user.avatar.url %>">
                                                <span class="username username-hide-mobile"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-default">
                                                <!-- <li style="background-color: #eee;"> -->
                                                <li>
                                                    <%= link_to(admin_dashboard_index_path) do %>
                                                        <i class="icon-users"></i> My Groups
                                                    <%end%>
                                                </li>
                                                <li>
                                                    <%= link_to(admin_admin_profile_path) do %>
                                                        <i class="icon-user"></i> My Profile
                                                    <%end%>
                                                </li>
                                                <!-- <li class="divider"> </li> -->
                                                <li>
                                                    <%= link_to destroy_user_session_path do %>
                                                        <i class="icon-key"></i> Log Out
                                                    <%end%>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <div class="page-container">
                        <div class="page-content-wrapper">
                            
                            <div class="page-content">
                                <div class="container">
                                    <ul class="page-breadcrumb breadcrumb">
                                        <%if controller.action_name == "index"%>
                                        <li>
                                            <%= link_to "Dashboard",(admin_dashboard_index_path), { style: "color: black;" } %>
                                        </li>
                                        <%end%>
                                        
                                    </ul>
                                    <div class="page-content-inner">
                                        <%= yield %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="page-wrapper-row">
                <div class="page-wrapper-bottom">
                    <div class="page-footer">
                        <div class="container"> 2018 &copy; 
                            <%= link_to "Gospel Tribes", admin_dashboard_index_path %>
                        </div>
                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>

        
        
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <%if controller.action_name == "prayers"%>
            <script src="../../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <%end%>



        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        
        <script src="../../assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>

        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        
        <%if controller.action_name == "prayers"%>
            <script src="../../assets/pages/scripts/components-bootstrap-select.js" type="text/javascript"></script>
        <%end%>
        
        <script src="../../assets/pages/scripts/portfolio-4.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/profile.min.js" type="text/javascript"></script>

        <script src="../assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <%= yield(:important_javascript) %>

    </body>

</html>