<!DOCTYPE html>
<html lang="en">
    <head>
      <%= csp_meta_tag %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8" />
      <title>Gospel Tribes | Dashboard</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
      <link href="<%= controller_name == "passwords" ? "../" : "" %>assets/pages/css/login-2.min.css" rel="stylesheet" type="text/css" />

      
      <link rel="shortcut icon" href="<%= controller_name == "passwords" ? "../" : "" %>assets/img/MainLogo.png" />
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/jquery.min.js" type="text/javascript"></script>
      <style type="text/css">
        .alert-success {
          background-color: #00feff;
          border-color: #00feff;
          color: #ffffff;
        }
      </style>
    </head>
    <body class="login" style="background-color: #00feff;">
        <% flash.each do |key, value| %>
          <%if key == "notice"%>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
              <strong>Success!</strong> <%= value %>
            </div>
          <%end%>

          <%if key == "alert"%>
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
              <strong>Warning!</strong> <%= value %>
            </div>
          <%end%>
        <%end%>
        <%= yield %>
        
      
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/global/scripts/app.min.js" type="text/javascript"></script>
      <script src="<%= controller_name == "passwords" ? "../" : "" %>assets/pages/scripts/login.min.js" type="text/javascript"></script>
    </body>
</html>