<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- <meta name="description" content="Wakfi | App Landing Page Templates from Themescare"> -->
      <meta name="keyword" content="gospel, tribes, gospeltribes">
      <meta name="author" content="Marc Sikma">
      <!-- Title -->
      <title>Gospel Tribes</title>
      <!-- Favicon -->
      <link rel="icon" type="image/png" sizes="32x32" href="assets/assets2/img/32x32logo.png">
      <!--Bootstrap css-->
      <link rel="stylesheet" href="assets/assets2/css/bootstrap.css">
      <!--Font Awesome css-->
      <link rel="stylesheet" href="assets/assets2/css/font-awesome.min.css">
      <!--Magnific css-->
      <link rel="stylesheet" href="assets/assets2/css/magnific-popup.css">
      <!--Animatedheadline css-->
      <link rel="stylesheet" href="assets/assets2/css/jquery.animatedheadline.css">
      <!--Owl-Carousel css-->
      <link rel="stylesheet" href="assets/assets2/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/assets2/css/owl.theme.default.min.css">
      <!--Animate css-->
      <link rel="stylesheet" href="assets/assets2/css/animate.min.css">
      <!--Site Main Style css-->
      <link rel="stylesheet" href="assets/assets2/css/style.css">
      <!--Responsive css-->
      <link rel="stylesheet" href="assets/assets2/css/responsive.css">
      <link rel="stylesheet" href="assets/assets2/custom.css">
   </head>
   <body>
       
       
      <!--Preloader Start-->
      <!-- <div class="loader" id="page-loader">
         <div class="loading-wrapper">
            <div class="tp-loader spinner"></div>
            <div class="loader-image">
               <img src="assets/assets2/img/loader-logo.png" alt="wakfi" />
            </div>
         </div>
      </div> -->
      <!--Preloader End-->
       
       
      <!--Navbar Start-->
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <!-- LOGO -->
            <!-- <a class="navbar-brand logo" href="index.html"> -->
            <%= link_to marketing_path, class: "navbar-brand logo" do %>
            <img src="assets/assets2/img/logo.png" alt="wakfi" />
            <!-- </a> -->
            <%end%>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a href="#" class="nav-link active" data-scroll-nav="0" >Home</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="1" >About</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="2" >features</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="3">screenshot</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="4">team</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="5">Pricing</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="6">blog</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link" data-scroll-nav="7">contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!--Navbar End-->
       
       
      <!--Home Section Start-->
      <section class="wakfi-home-area" data-scroll-index="0">
         <div class="container">
            <div class="row">
               <div class="col-lg-8">
                  <div class="banner-welcome">
                     <h2>Gospel Tribes</h2>
                     <div class="caption-inner">
                        <div class="ah-headline">
                           <span class="typed-static">Page to </span>
                           <span class="ah-words-wrapper">
                           <b class="is-visible"> Present Your App.</b>
                           <b> Grow your business.</b>
                           </span>
                        </div>
                     </div>
                     <p>Our app can help your business grow, improve your process and make your customers more satisfied Sorem ipsum dolor sit amet consectetur</p>
                     <div class="store-app-btn">
                        <a href="#" class="app-store-btn"></a>
                        <a href="#" class="play-store-btn"></a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="banner-right">
                     <img src="assets/assets2/img/322x471.png" class="float-lg-right" alt="banner phone" />
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--Home Section End-->
       
       
      <!-- Promo Area Start -->
      <section class="wakfi-promo-area section_t_100 section_b_70 wow fadeInUp">
         <div class="container">
            <div class="row">
               <div class="col-lg-4">
                  <div class="single-promo">
                     <div class="promo-icon">
                        <i class="fa fa-hand-pointer-o"></i>
                     </div>
                     <div class="promo-text">
                        <h3>Easy to use</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="single-promo">
                     <div class="promo-icon">
                        <i class="fa fa-filter"></i>
                     </div>
                     <div class="promo-text">
                        <h3>Unlimited Filtering</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="single-promo">
                     <div class="promo-icon">
                        <i class="fa fa-unlock-alt"></i>
                     </div>
                     <div class="promo-text">
                        <h3>Secure Payment</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Promo Area End -->
       
       
      <!-- About Section Start -->
      <section class="wakfi-about-area section_t_100 section_b_70" data-scroll-index="1">
         <div class="abt-bg">
            <img src="assets/assets2/img/abt_round.png" alt="about image" />
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-5 wow fadeInLeft">
                  <div class="about-app-right">
                     <img src="assets/assets2/img/500x689.png" alt="wakfi app" />
                  </div>
               </div>
               <div class="col-lg-7  wow fadeInRight">
                  <div class="about-app-left">
                     <h3>wakfi application is super easy to use and install in your devices</h3>
                     <p>Wakfi simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book.</p>
                     <a href="#" class="wakfi-btn"><i class="fa fa-download"></i> free download</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- About Section End -->
       
       
      <!-- Features Area Start -->
      <section class="wakfi-features-area section_t_100  section_b_80" data-scroll-index="2">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="site-heading wow fadeInUp">
                     <h2>awesome features</h2>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book</p>
                  </div>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg col-md-6 wow fadeInLeft">
                  <div class="feature-left-side">
                     <div class="media">
                        <div class="media-body">
                           <h4>secure payment</h4>
                           <p>text of the printing sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.</p>
                        </div>
                        <div class="icon-circle ml-4 mt-1">
                           <i class="fa fa-shield"></i>
                        </div>
                     </div>
                     <div class="media">
                        <div class="media-body">
                           <h4>Super Fast Speed</h4>
                           <p>text of the printing sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.</p>
                        </div>
                        <div class="icon-circle ml-4 mt-1">
                           <i class="fa fa-tachometer"></i>
                        </div>
                     </div>
                     <div class="media">
                        <div class="media-body">
                           <h4>Perfect Showcase</h4>
                           <p>text of the printing sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.</p>
                        </div>
                        <div class="icon-circle ml-4 mt-1">
                           <i class="fa fa-check"></i>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg text-center mobile-none wow fadeIn">
                  <div class="feature-phone">
                     <img src="assets/assets2/img/295x552.png" alt="feature phone" />
                  </div>
               </div>
               <div class="col-lg col-md-6 wow fadeRight">
                  <div class="feature-right-side">
                     <div class="media">
                        <div class="icon-circle mr-4 mt-1">
                           <i class="fa fa-star"></i>
                        </div>
                        <div class="media-body">
                           <h4>Awesome Rating</h4>
                           <p>text of the printing sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.</p>
                        </div>
                     </div>
                     <div class="media">
                        <div class="icon-circle mr-4 mt-1">
                           <i class="fa fa-user-circle-o"></i>
                        </div>
                        <div class="media-body">
                           <h4>powerful admin</h4>
                           <p>text of the printing sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.</p>
                        </div>
                     </div>
                     <div class="media">
                        <div class="icon-circle mr-4 mt-1">
                           <i class="fa fa-support"></i>
                        </div>
                        <div class="media-body">
                           <h4>24/7 Support</h4>
                           <p>text of the printing sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Features Area End -->
       
       
      <!-- Choose Area Start -->
      <section class="wakfi-choose-area section_100">
         <div class="choose-bg">
            <img src="assets/assets2/img/choos_bg.png" alt="choose bg" />
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-6  wow fadeInLeft">
                  <div class="choose-left">
                     <h3>why you choose wakfi app</h3>
                     <p>Wakfi simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <ul>
                        <li><i class="fa fa-check"></i> A ornare odio ed non mauris vitae</li>
                        <li><i class="fa fa-check"></i> aptent taciti sociosqu ad litora conubia.</li>
                        <li><i class="fa fa-check"></i> Nullam ac urna eu felis dapibus condimentum.</li>
                        <li><i class="fa fa-check"></i> Efficiently coordinate global infrastructures</li>
                     </ul>
                     <div class="choose-btn">
                        <a href="#" class="wakfi-btn"><i class="fa fa-download"></i> Free download</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 wow fadeInRight">
                  <div class="video-box">
                     <img src="assets/assets2/img/potrait.png" alt="video image" />
                     <div class="video">
                        <div class="video-frame-holder"><iframe src="https://player.vimeo.com/video/2233232?title=0&byline=0&portrait=0" allowfullscreen></iframe></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Choose Area End -->
       
       
      <!-- Screenshot Area Start -->
      <section class="wakfi-screenshot-area section_100" data-scroll-index="3">
         <div class="abt-bg">
            <img src="assets/assets2/img/abt_round.png" alt="choose bg" />
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12  wow fadeInUp">
                  <div class="site-heading">
                     <h2>screenshot</h2>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="screenshot-slider owl-carousel">
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/376x668_1.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/376x668_2.png" alt="screenshot 2" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/376x668_3.png" alt="screenshot 3" />
                     </div>
                     <!-- <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-02.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-03.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-04.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-07.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-03.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-04.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-04.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-07.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-03.png" alt="screenshot 1" />
                     </div>
                     <div class="screenshot-single-slide">
                        <img src="assets/assets2/img/ss-04.png" alt="screenshot 1" />
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Screenshot Area End -->
       
       
      <!-- Team Area Start -->
      <section class="wakfi-team-area section_t_100 section_b_70" data-scroll-index="4">
         <div class="container">
            <div class="row">
               <div class="col-md-12  wow fadeInUp">
                  <div class="site-heading">
                     <h2>Awesome team</h2>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-lg-3  wow fadeIn">
                  <div class="single-team">
                     <div class="team-image">
                        <img src="assets/assets2/img/agnt1.jpg" alt="team member">
                     </div>
                     <div class="team-info">
                        <div class="team-overlay-one">
                           <h3>Jylin Scott</h3>
                           <p>Founder & CEO</p>
                        </div>
                     </div>
                     <div class="team-info-two">
                        <div class="team-overlay-two">
                           <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-lg-3 wow fadeInUp">
                  <div class="single-team">
                     <div class="team-image">
                        <img src="assets/assets2/img/agnt2.jpg" alt="team member">
                     </div>
                     <div class="team-info">
                        <div class="team-overlay-one">
                           <h3>Charles Luke</h3>
                           <p>Tech Advisor</p>
                        </div>
                     </div>
                     <div class="team-info-two">
                        <div class="team-overlay-two">
                           <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-lg-3 wow fadeIn">
                  <div class="single-team">
                     <div class="team-image">
                        <img src="assets/assets2/img/agnt3.jpg" alt="team member">
                     </div>
                     <div class="team-info">
                        <div class="team-overlay-one">
                           <h3>Catherine Matt</h3>
                           <p>apps developer</p>
                        </div>
                     </div>
                     <div class="team-info-two">
                        <div class="team-overlay-two">
                           <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-lg-3 wow fadeInUp">
                  <div class="single-team">
                     <div class="team-image">
                        <img src="assets/assets2/img/agnt4.jpg" alt="team member">
                     </div>
                     <div class="team-info">
                        <div class="team-overlay-one">
                           <h3>James Sienna </h3>
                           <p>apps developer</p>
                        </div>
                     </div>
                     <div class="team-info-two">
                        <div class="team-overlay-two">
                           <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Team Area End -->
       
       
      <!-- Newsletter Area Start -->
      <section class="wakfi-newsletter-area section_100   wow fadeInUp">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="newsletter-box">
                     <div class="newsletter-icon">
                        <i class="fa fa-envelope-open-o"></i>
                     </div>
                     <h2>Get Notified of any updates!</h2>
                     <p>Wakfi simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                     <form>
                        <input type="email" placeholder="Your email address" name="newsletter" >
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Newsletter Area End -->
       
       
      <!-- Pricing Area Start -->
      <section class="wakfi-pricing-area section_100 section_b_70" data-scroll-index="5">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="site-heading  wow fadeInUp">
                     <h2>latest pricing</h2>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4  wow fadeInLeft">
                  <div class="single-pricing">
                     <div class="pricing-header">
                        <h3>basic</h3>
                     </div>
                     <div class="pricing-header-tag">
                        <h2><span class="usd">$</span>175<span class="month">/monthly</span></h2>
                     </div>
                     <div class="pricing-body">
                        <ul>
                           <li>Full Access</li>
                           <li>20 User Accounts </li>
                           <li>1 Year License </li>
                           <li>3 months License </li>
                           <li>Mailchimp Integration</li>
                           <li>24/7 Support</li>
                        </ul>
                     </div>
                     <div class="pricing-footer">
                        <a href="#" class="wakfi-btn">buy now</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4  wow fadeIn">
                  <div class="single-pricing">
                     <div class="pricing-header">
                        <h3>Standard</h3>
                     </div>
                     <div class="pricing-header-tag">
                        <h2><span class="usd">$</span>317<span class="month">/monthly</span></h2>
                     </div>
                     <div class="pricing-body">
                        <ul>
                           <li>Full Access</li>
                           <li>20 User Accounts </li>
                           <li>1 Year License </li>
                           <li>3 months License </li>
                           <li>Mailchimp Integration</li>
                           <li>24/7 Support</li>
                        </ul>
                     </div>
                     <div class="pricing-footer">
                        <a href="#" class="wakfi-btn">buy now</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4  wow fadeInRight">
                  <div class="single-pricing">
                     <div class="pricing-header">
                        <h3>custom</h3>
                     </div>
                     <div class="pricing-header-tag">
                        <h2><span class="usd">$</span>696<span class="month">/monthly</span></h2>
                     </div>
                     <div class="pricing-body">
                        <ul>
                           <li>Full Access</li>
                           <li>20 User Accounts </li>
                           <li>1 Year License </li>
                           <li>3 months License </li>
                           <li>Mailchimp Integration</li>
                           <li>24/7 Support</li>
                        </ul>
                     </div>
                     <div class="pricing-footer">
                        <a href="#" class="wakfi-btn">buy now</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Pricing Area End -->
       
       
      <!-- Testimonial Area Start -->
      <section class="wakfi-testimonial-area section_100">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="site-heading  wow fadeInUp">
                     <h2>Clients Testimonial</h2>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="reviews-slider owl-carousel">
                     <div class="single-testimonial">
                        <div class="testimonial-img">
                           <img src="assets/assets2/img/testimonial-1.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-text">
                           <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sed do eiusmod tempor incididunt</p>
                        </div>
                        <div class="testimonial-info">
                           <h4>Jhon Alex</h4>
                           <p>CEO,ABC Company</p>
                        </div>
                     </div>
                     <div class="single-testimonial">
                        <div class="testimonial-img">
                           <img src="assets/assets2/img/testimonial-2.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-text">
                           <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sed do eiusmod tempor incididunt</p>
                        </div>
                        <div class="testimonial-info">
                           <h4>maria adair</h4>
                           <p>senior developer</p>
                        </div>
                     </div>
                     <div class="single-testimonial">
                        <div class="testimonial-img">
                           <img src="assets/assets2/img/testimonial-3.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-text">
                           <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sed do eiusmod tempor incididunt</p>
                        </div>
                        <div class="testimonial-info">
                           <h4>John Williamson</h4>
                           <p>senior developer</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Testimonial Area End -->
       
       
      <!-- Download Area Start -->
      <section class="wakfi-download-area section_100  wow fadeInUp">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="download-box">
                     <h2>download our wakfi app today</h2>
                     <p>Morem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam.</p>
                     <div class="download-area-btns">
                        <a href="#"><i class="fa fa-android"></i> <span>android</span></a>
                        <a href="#"><i class="fa fa-apple"></i> <span>mac</span></a>
                        <a href="#"><i class="fa fa-windows"></i> <span>windows</span></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Download Area End -->
       
       
      <!-- Blog Area Start -->
      <section class="wakfi-blog-area section_t_100 section_b_70" data-scroll-index="6">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="site-heading  wow fadeInUp">
                     <h2>wakfi news</h2>
                     <p>It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen book</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-lg-4  wow fadeInLeft">
                  <div class="single-blog">
                     <div class="blog-img">
                        <a href="#">
                        <img src="assets/assets2/img/blog-1.jpeg" alt="blog">
                        </a>
                     </div>
                     <div class="blog-text">
                        <div class="blog-meta">
                           <p><i class="fa fa-user"></i> By Jessica Brown</p>
                           <p><i class="fa fa-clock-o"></i> 14 Jun, 2018</p>
                        </div>
                        <h3><a href="#">Using Hashtag Effectively In Social Media</a></h3>
                        <p>Aliquip exa consequat dui aut repahend vouptate elit cilum fugiat pariatur lorem a</p>
                     </div>
                     <div class="blog-btn">
                        <a href="#"> <i class="fa fa-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-lg-4  wow fadeIn">
                  <div class="single-blog">
                     <div class="blog-img">
                        <a href="#">
                        <img src="assets/assets2/img/blog-2.jpeg" alt="blog">
                        </a>
                     </div>
                     <div class="blog-text">
                        <div class="blog-meta">
                           <p><i class="fa fa-user"></i> By Smith Sharlin</p>
                           <p><i class="fa fa-clock-o"></i> 14 Jun, 2018</p>
                        </div>
                        <h3><a href="#">Microsoft confirms it is merging with idea cellular.</a></h3>
                        <p>Aliquip exa consequat dui aut repahend vouptate elit cilum fugiat pariatur lorem a</p>
                     </div>
                     <div class="blog-btn">
                        <a href="#"> <i class="fa fa-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-lg-4  wow fadeInRight">
                  <div class="single-blog">
                     <div class="blog-img">
                        <a href="#">
                        <img src="assets/assets2/img/blog-3.jpeg" alt="blog">
                        </a>
                     </div>
                     <div class="blog-text">
                        <div class="blog-meta">
                           <p><i class="fa fa-user"></i> By Jonathon Doe</p>
                           <p><i class="fa fa-clock-o"></i> 14 Jun, 2018</p>
                        </div>
                        <h3><a href="#">Digital Marketing Trends That Drive Sales</a></h3>
                        <p>Aliquip exa consequat dui aut repahend vouptate elit cilum fugiat pariatur lorem a</p>
                     </div>
                     <div class="blog-btn">
                        <a href="#"> <i class="fa fa-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Blog Area End -->
       
       
      <!-- Contact Area Start -->
      <section class="wakfi-contact-area section_100" data-scroll-index="7">
         <div class="container">
            <div class="row">
               <div class="col-md-7 wow fadeInLeft">
                  <div class="contact-form ">
                     <h3>get in touch</h3>
                     <form>
                        <p>
                           <input type="text" placeholder="Enter your name" id="name" >
                        </p>
                        <p>
                           <input type="email" placeholder="Enter your e-mail address" id="email" >
                        </p>
                        <p>
                           <textarea placeholder="Your message here..." id="msg"></textarea>
                        </p>
                        <p>
                           <button type="submit" >send message</button>
                        </p>
                     </form>
                  </div>
               </div>
               <div class="col-md-5 wow fadeInRight">
                  <div class="contact-info">
                     <h3>contact details</h3>
                     <p>Morem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                     <ul>
                        <li>
                           <i class="fa fa-phone"></i> 
                           <span>+213-456-7890</span>
                        </li>
                        <li><i class="fa fa-envelope"></i> support@mail.com</li>
                        <li><i class="fa fa-map-marker"></i> 3481 Melrose Place, Los Angeles</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Contact Area End -->
       
       
      <!-- Footer Area Start -->
      <footer class="wakfi-footer-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="footer-box">
                     <p>Gospel Tribes &copy; 2019 All Rights Reserved</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer Area End -->
       
       
      <!--Jquery js-->
      <script src="assets/assets2/js/jquery-3.0.0.min.js"></script>
      <!--Bootstrap js-->
      <script src="assets/assets2/js/bootstrap.min.js"></script>
      <!--ScrollIt js-->
      <script src="assets/assets2/js/scrollIt.min.js"></script>
      <!--Owl-Carousel js-->
      <script src="assets/assets2/js/owl.carousel.min.js"></script>
      <!--Animatedheadline js-->
      <script src="assets/assets2/js/jquery.animatedheadline.min.js"></script>
      <!--Magnific js-->
      <script src="assets/assets2/js/jquery.magnific-popup.min.js"></script>
      <!--Wow js-->
      <script src="assets/assets2/js/wow.min.js"></script>
      <!--Init js-->
      <script src="assets/assets2/js/init.js"></script>
      <!--Main js-->
      <script src="assets/assets2/js/main.js"></script>
   </body>
</html>

