.wakfi-home-area:after {
   background-image: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   left: 0;
   content: "";
   opacity: 0.9;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   z-index: -1
}

nav.fixed-top {
    position: fixed;
    padding-top: 13px;
    padding-bottom: 13px;
    background-image: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.promo-icon {
   width: 60px;
   background-image: -webkit-linear-gradient( 50deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( 50deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   height: 60px;
   margin: 0 auto;
   border-radius: 12px;
   font-size: 26px;
   color: #fff;
   margin-bottom: 20px;
   line-height: 60px;
}

.wakfi-btn {
   background-image: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   display: inline-block;
   padding: 15px 30px;
   color: #fff;
   text-transform: capitalize;
   font-weight: 500;
   border-radius: 50px;
   font-size: 17px;
}

.wakfi-btn:hover {
   background-image: -webkit-linear-gradient( 0deg, rgb(0,254,255) 0%, rgb(0, 122, 223) 100%);
   background-image: -ms-linear-gradient( 0deg, rgb(0,254,255) 0%, rgb(0, 122, 223) 100%);
   color: #fff
}

.wakfi-features-area {
   background-image: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
}

.team-info {
   background-image: -webkit-linear-gradient( 10deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( 10deg, rgb(0, 122, 223) 0%, rgb(0, 254, 255) 100%);
   height: 50%;
   left: 0;
   position: absolute;
   top: 0;
   -webkit-transform: rotateY(97deg);
   transform: rotateY(97deg);
   -webkit-transform-origin: left center 0;
   transform-origin: left center 0;
   -webkit-transition: all 0.5s ease-in-out 0s;
   transition: all 0.5s ease-in-out 0s;
   visibility: hidden;
   width: 100%;
}

.team-info-two {
   background-image: -webkit-linear-gradient( -10deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( -10deg, rgb(0, 122, 223) 0%, rgb(0, 254, 255) 100%);
   height: 50%;
   right: 0;
   position: absolute;
   bottom: 0;
   -webkit-transform: rotateY(-97deg);
   transform: rotateY(-97deg);
   -webkit-transform-origin: right center 0;
   transform-origin: right center 0;
   -webkit-transition: all 0.8s ease-in-out 0s;
   transition: all 0.8s ease-in-out 0s;
   visibility: hidden;
   width: 100%;
}

.wakfi-newsletter-area:after {
   background-image: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0, 254, 255) 100%);
   background: -moz-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0, 254, 255) 100%);
   background-image: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   left: 0;
   content: "";
   opacity: 0.9;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   z-index: -1;
}

.pricing-header {
   padding: 20px;
   background-image: -webkit-linear-gradient( -50deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( -50deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   border-radius: 5px 5px 0 0
}

.wakfi-download-area:after {
   background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   left: 0;
   content: "";
   opacity: 0.9;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   z-index: -1;
}

.blog-btn>a {
   background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   border-radius: 50%;
   color: #fff;
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   text-align: center;
   top: 15px;
   width: 40px;
}

.contact-info ul li i {
   background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   color: #fff;
   width: 35px;
   height: 35px;
   line-height: 35px;
   text-align: center;
   font-size: 14px;
   border-radius: 50%;
   margin-right: 10px
}

.contact-form form p button {
   background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background: -ms-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   display: inline-block;
   padding: 12px 30px;
   color: #fff;
   text-transform: capitalize;
   font-weight: 600;
   border-radius: 50px;
   font-size: 17px;
   border: medium none;
   cursor: pointer;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
   background: #00feff none repeat scroll 0 0;
}

.tp-loader.spinner {
   width: 30px;
   height: 30px;
   margin: 0 auto 10px;
   background-image: -webkit-linear-gradient( 50deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   background-image: -ms-linear-gradient( 50deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
   -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
   -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
   animation: tp-rotateplane 1.2s infinite ease-in-out;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px
}

.icon-circle i{
   color: #40fdff;
}

.team-overlay-two a {
   background: #fff none repeat scroll 0 0;
   border-radius: 5px;
   display: block;
   color: #40fdff;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
}

.team-overlay-two a:hover {
   background-image: -webkit-linear-gradient(top left, rgb(0, 122, 223), rgb(0,254,255));
   background-image: -ms-linear-gradient(top left, rgb(0, 122, 223), rgb(0,254,255));
   color: #fff;
   -webkit-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s
}

.newsletter-box form button i {
    color: #40fdff;
}

.pricing-header-tag h2 {
    color: #40fdff;
}

.testimonial-info>h4 {
    color: #40fdff;
}

.blog-text p>i {
    color: #40fdff;
    margin-right: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
   .navbar-collapse {
      background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
      text-align: center;
   }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
   .navbar-collapse {
      background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
      text-align: center;
   }
}

@media (max-width: 767px) {
   .navbar-collapse {
      background: -webkit-linear-gradient( 0deg, rgb(0, 122, 223) 0%, rgb(0,254,255) 100%);
      text-align: center;
   }
}