<style type="text/css">
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #00feff;
    }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid rgba(0, 254, 255, 0.5);
    }

    .font-green {
        color: #00feff;
    }

    .btn.green:not(.btn-outline) {
        background-color: #00feff;
        border-color: #00feff;
    }
</style>
<div class="mt-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> Calendar </a>
                    </li>
                    <!-- <li>
                        <a href="#tab_1_2" data-toggle="tab"> Events </a>
                    </li> -->
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active fontawesome-demo" id="tab_1_1">
                        <div class="col-md-12">
                            <div class="portlet light portlet-fit  calendar">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green sbold uppercase">Calendar</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <h3 class="event-form-title margin-bottom-20">Events</h3>
                                            <div id="external-events">
                                                <div class="inline-form">
                                                    <!-- <input type="text" value="" class="form-control" placeholder="Event Title..." id="event_title" /> -->
                                                    <!-- <br/> -->
                                                    <a href="javascript:;" id="event_add" class="btn green"> Add Event </a>
                                                </div>
                                                <hr/>
                                                <center style="margin-bottom: 10px;">Please drag the event to your desired day on the calendar.</center>
                                                <div id="event_box" class="margin-bottom-10" >
                                                    asd
                                                </div>
                                                <!-- <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline" for="drop-remove"> remove after drop
                                                    <input type="checkbox" class="group-checkable" id="drop-remove" />
                                                    <span></span>
                                                </label> -->
                                                <hr class="visible-xs" /> </div>
                                        </div>
                                        <div class="col-md-9 col-sm-12">
                                            <div id="calendar" class="has-toolbar"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fontawesome-demo" id="tab_1_2">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="basic" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for Event.new, as: :event, url: admin_dashboard_manage_event_path, role: :form do |f| %>
                <!-- <div class="modal-header"> -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -15px; margin-right: 10px;"></button>
                <!-- </div> -->
                <div class="modal-body" style="margin-top: 25px;">
                    <input type="hidden" name="event_list_id" placeholder="event_list_id" class="form-control event_list_id">
                    <input type="hidden" name="event_id" placeholder="Event ID" class="form-control event_id">
                    <%= f.hidden_field :from_event_list, placeholder: "From Event List", class: "form-control from_event_list_id"%>
                    <%= f.hidden_field :group_id, placeholder: "group id", class: "form-control", value: params[:dashboard_id] %>
                    <div class="form-group">
                        <%= f.label "Title", class: "control-label" %>
                        <%= f.text_field :title, placeholder: "Title", class: "form-control event_title" %>
                    </div>

                    <div class="form-group">
                        <%= f.label "Details", class: "control-label" %>
                        <%= f.text_area :details, placeholder: "Details", class: "form-control event_details", rows: 7, style: "resize: none;" %>
                    </div>
                        
                    <div class="form-group">
                        <%= f.label "Add Image", class: "control-label" %>
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="" alt="" id="modalImage" /> </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new"> Select image </span>
                                        <span class="fileinput-exists"> Change </span>
                                        <%= f.file_field :image %>
                                    </span>
                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%= f.hidden_field :start_date, placeholder: "Start Date", class: "form-control start_date" %>
                    <%= f.hidden_field :end_date, placeholder: "End Date", class: "form-control end_date" %>
                    <input type="hidden" name="event[repeat_days]" class="repeat_days" value="None">
                    <input type="hidden" name="event[repeat]" class="repeat" value="None">

                    <div class="form-group">
                        <input type="checkbox" class="repeat-checkbox" id="event_Repeat">
                        <%= f.label "Repeat", class: "control-label" %>
                        <div id="repeat-dropdown-container" style="display: none;">
                            <select class="bs-select form-control color-picker-subtitle" id="repeat-dropdown" data-actions-box="true">
                                <option>Monthly</option>
                                <option>Weekly</option>
                            </select>
                        </div>

                        <div class="form-group" style="display: none;" id="repeat_days_container">
                            <%= f.label "Repeat Days", class: "control-label" %>
                            <select class="bs-select form-control repeat_days_selector" id="repeat_days_selector_id" multiple data-actions-box="true">
                                <option value="Sunday" selected>Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Time", class: "control-label" %>
                        <div class="input-group">

                            <input name="time" type="text" class="form-control timepicker timepicker-no-seconds timepicker-1">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="add-end-time-checkbox" id="event_Add_End_Time">
                        <%= f.label "Add End Time", for: "event_Add_End_Time", class: "control-label" %>
                    </div>

                    <div class="form-group end-time-container" style="display: none;">
                        <%= f.label "Time", class: "control-label" %>
                        <div class="input-group">

                            <input name="time" type="text" class="form-control timepicker timepicker-no-seconds timepicker-2">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <%= f.label "Highlight Color", class: "control-label" %>
                        <select name="event[subtitle]" class="bs-select form-control color-picker-subtitle" id="color-picker-subtitle" data-actions-box="true">
                            <option>Red</option>
                            <option>Orange</option>
                            <option>Yellow</option>
                            <option>Aqua</option>
                            <option>Pink</option>
                            <option>Blue</option>
                            <option>Green</option>
                            <option>Fuchsia</option>
                            <option>Violet</option>
                            <option>Brown</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <%= f.label "Location", class: "control-label" %>
                        <select name="event[location]" class="js-data-example-ajax"></select>
                    </div>
                    <div class="form-group">
                        <%= f.label "Share to", class: "control-label" %>
                        <select name="share_to[]" class="bs-select form-control share_to" id="share_to" multiple data-actions-box="true">

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Remove", class: "btn red remove-item" %>
                    <%= f.submit "Save changes", class: "btn green save-item" %>
                </div>
            <%end%>
        </div>
    </div>
</div>
<%= content_for(:javascript) do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.timepicker-1').timepicker({
                autoclose: true,
                minuteStep: 1
            }).on('changeTime.timepicker', function(e){
                var str = $('.start_date').val().split(" ")[0];
                var newtime = OwnTimeConverter(e.time.hours.toString(), e.time.meridian) + ":" + e.time.minutes + ":" + 0;
                $('.start_date').val(str + " " + newtime);

                if(!$(".add-end-time-checkbox").prop("checked")){
                    $('.end_date').val(str + " " + newtime);
                }else{
                    var start_val = $('.start_date').val(), end_val = $('.end_date').val();
                    if(+(new Date(start_val)) >= +(new Date(end_val))){
                        var nd = new Date(start_val);
                        nd.setMinutes(nd.getMinutes() + 1);
                        $('.end_date').val(nd.getFullYear()+"-"+(nd.getMonth() + 1)+"-"+nd.getDate()+" "+nd.getHours()+":"+nd.getMinutes()+":"+nd.getSeconds());
                        $('.timepicker-2').timepicker('setTime', formatAMPM(nd));
                    }
                }
            });

            $('.timepicker-2').timepicker({
                autoclose: true,
                minuteStep: 1
            }).on('changeTime.timepicker', function(e){
                var str = $('.end_date').val().split(" ")[0];
                var newtime = OwnTimeConverter(e.time.hours.toString(), e.time.meridian) + ":" + e.time.minutes + ":" + 0;
                // var old_value = $(".end_date").val();
                $('.end_date').val(str + " " + newtime);
                var start_val = $('.start_date').val(), end_val = $('.end_date').val();

                if($(".add-end-time-checkbox").prop("checked")){
                    if(+(new Date(start_val)) >= +(new Date(end_val))){
                        var nd = new Date(start_val);
                        nd.setMinutes(nd.getMinutes() + 1);
                        $('.end_date').val(nd.getFullYear()+"-"+(nd.getMonth() + 1)+"-"+nd.getDate()+" "+nd.getHours()+":"+nd.getMinutes()+":"+nd.getSeconds());
                        
                        $('.timepicker-2').timepicker('setTime', formatAMPM(nd));
                    }
                    else{
                        $('.end_date').val(str + " " + newtime);
                    }
                }
                // console.log(str+" "+newtime);
            });



            $('.timepicker').parent('.input-group').on('click', '.input-group-btn', function(e){
                e.preventDefault();
                $(this).parent('.input-group').find('.timepicker').timepicker('showWidget');
            });

            $('.timepicker-1').timepicker('setTime', '12:00 AM');
            $('.timepicker-2').timepicker('setTime', '12:00 AM');


            function formatAMPM(date) {
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'pm' : 'am';
              hours = hours % 12;
              hours = hours ? hours : 12; // the hour '0' should be '12'
              minutes = minutes < 10 ? '0'+minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              return strTime;
            }

            function OwnTimeConverter(hours, meridian){
                if(meridian == "PM"){
                    switch(hours){
                        case "12":
                            return "12";
                            break;
                        case "1":
                            return "13";
                            break;
                        case "2":
                            return "14";
                            break;
                        case "3":
                            return "15";
                            break;
                        case "4":
                            return "16";
                            break;
                        case "5":
                            return "17";
                            break;
                        case "6":
                            return "18";
                            break;
                        case "7":
                            return "19";
                            break;
                        case "8":
                            return "20";
                            break;
                        case "9":
                            return "21";
                            break;
                        case "10":
                            return "22";
                            break;
                        case "11":
                            return "23";
                            break;
                        
                    }
                }else{
                    if(hours == "12"){
                        return "0";
                    }else{
                        return hours;
                    }
                }
            }

            <% @events_list.each do |event| %>
                AppCalendar.add_event("<%= event[:event_name] %>" , "<%= event[:id] %>");
            <% end %>

            <% @events.each do |event| %>


                <% if event.repeat == "None" %>
                var this_start = new Date(<%= event.start_date.strftime("%Y").to_i %>, <%= (event.start_date.strftime("%m").to_i - 1 ) %>, <%= event.start_date.strftime("%d").to_i %>, <%= event.start_date.strftime("%H").to_i %>, <%= event.start_date.strftime("%M").to_i %>, <%= event.start_date.strftime("%S").to_i %>);
                
                var this_end = <%= event.end_date.nil? ? "null".html_safe : "new Date(#{event.end_date.strftime("%Y").to_i}, #{(event.end_date.strftime("%m").to_i - 1 )}, #{event.end_date.strftime("%d").to_i}, #{event.end_date.strftime("%H").to_i}, #{event.end_date.strftime("%M").to_i}, #{event.end_date.strftime("%S").to_i})".html_safe %>;
                console.log(this_end);

                $("#calendar").fullCalendar('renderEvent', { id: "<%= event.id %>", title: "<%= event.title %>", description: "<%= event.details %>", start: this_start, end: this_end, orig_date: new Date(<%= event.start_date.strftime("%Y").to_i %>, <%= (event.start_date.strftime("%m").to_i - 1 ) %>, <%= event.start_date.strftime("%d").to_i %>, <%= event.start_date.strftime("%H").to_i %>, <%= event.start_date.strftime("%M").to_i %>, <%= event.start_date.strftime("%S").to_i %>), backgroundColor: App.getBrandColor('<%= event.subtitle %>'), image: "<%= event.image.url %>", from_event_list_id: "<%= event.from_event_list %>", location: "<%= event.location %>", subtitle: "<%= event.subtitle %>", r: "<%= event.repeat %>", rd: "<%= event.repeat_days %>", this_end: this_end }, true);
                <%end%>

                
            <%end%>

            function getRepeatDays(repeat_days){
                var new_repeat = [];
                repeat_days.forEach(function(element){
                    switch(element){
                        case "Sunday":
                            new_repeat.push(0);
                            break;
                        case "Monday":
                            new_repeat.push(1);
                            break;
                        case "Tuesday":
                            new_repeat.push(2);
                            break;
                        case "Wednesday":
                            new_repeat.push(3);
                            break;
                        case "Thursday":
                            new_repeat.push(4);
                            break;
                        case "Friday":
                            new_repeat.push(5);
                            break;
                        case "Saturday":
                            new_repeat.push(6);
                            break;
                    }
                });
                return new_repeat;
            }

            $("#calendar").fullCalendar("renderView", function(view, element){
                console.log(view);
                console.log(element);
            });

            function empty(str){
                return !str || !/[^\s]+/.test(str);
            }

            $(".save-item").click(function(e){                
                var selectedValues = [];
                $(".share_to :selected").each(function(){
                    selectedValues.push($(this).val());
                });

                if(selectedValues.length == 0){
                    alert("Select groups you want to share this event.");
                    e.preventDefault();
                }
            });

            $(".remove-item").click(function(e){
                if(!confirm("Are you sure you want to remove this event?")){
                    e.preventDefault();
                }else{
                    if(empty($('.event_id').val())){
                        e.preventDefault();
                        $('#calendar').fullCalendar('removeEvents', function(event){
                            if(event.id == $("#event_list_id").val()){
                                $("#basic").modal('hide');
                                return true;
                            }
                        });
                    }else{
                        
                    }
                }
            });

            $("#event_add").click(function(){
                // if(!empty($("#event_title").val())){
                    $.ajax({
                        url: "<%= admin_dashboard_ajax_add_event_path %>",
                        method: "post",
                        data: { event_title: "Untitled Event", user_id: <%= current_user.id %> },
                        success: function(e){
                            $("#event_title").val(null)
                            AppCalendar.add_event(e["event_name"], e["id"]);
                        }
                    });
                // }
            });

            $(".add-end-time-checkbox").change(function(){
                if(this.checked){
                    $(".end-time-container").css('display', 'block');
                    var nd = new Date($('.start_date').val());
                    nd.setMinutes(nd.getMinutes() + 1);
                    $('.end_date').val(nd.getFullYear()+"-"+(nd.getMonth() + 1)+"-"+nd.getDate()+" "+nd.getHours()+":"+nd.getMinutes()+":"+nd.getSeconds());
                }else{
                    $(".end-time-container").css('display', 'none');
                    var nd = new Date($('.start_date').val());

                    $(".end_date").val(nd.getFullYear()+"-"+(nd.getMonth() + 1)+"-"+nd.getDate()+" "+nd.getHours()+":"+nd.getMinutes()+":"+nd.getSeconds());
                }
            });

            $(".repeat-checkbox").change(function(){
                if(this.checked){
                    $("#repeat-dropdown-container").css("display", "block");
                    if($("#repeat-dropdown").val() == "Weekly"){
                        var selected = $(".repeat_days_selector").find("option:selected");
                        var arrSelected = [];
                        selected.each(function(){
                           arrSelected.push($(this).val());
                        });

                        $(".repeat_days").val(arrSelected.join(","));

                        $("#repeat_days_container").css("display", "block");
                        $(".repeat").val("Weekly");
                    }else{
                        $(".repeat").val("Monthly");
                    }
                }else{
                    $(".repeat").val("None");
                    $(".repeat_days").val("None");
                    $("#repeat_days_container").css("display", "none");
                    $("#repeat-dropdown-container").css("display", "none");
                }
            });

            $("#repeat-dropdown").change(function(){
                if($("#repeat-dropdown").val() == "Weekly"){
                    var selected = $(".repeat_days_selector").find("option:selected");
                    var arrSelected = [];
                    selected.each(function(){
                       arrSelected.push($(this).val());
                    });

                    $(".repeat_days").val(arrSelected.join(","));

                    $("#repeat_days_container").css("display", "block");
                    $(".repeat").val("Weekly");
                }else{
                    $(".repeat").val("Monthly");
                    $(".repeat_days").val("None");
                    $("#repeat_days_container").css("display", "none");
                }
            });

            $(".repeat_days_selector").change(function(){
                var selected = $(".repeat_days_selector").find("option:selected");
                var arrSelected = [];
                if(selected.length != 0){
                    selected.each(function(){
                       arrSelected.push($(this).val());
                    });

                    $(".repeat_days").val(arrSelected.join(","));
                }else{
                    var src2 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                    $("#repeat_days_selector_id").find("option").remove();  
                    $("#repeat_days_selector_id").selectpicker("refresh");
                    $("#repeat_days_selector_id").append("<option value=\"Sunday\" selected=\"true\">Sunday</option>");
                    src2.forEach(function(i){
                        $("#repeat_days_selector_id").append("<option value=\"" + i + "\" >" + i + "</option>");
                    });
                    $("#repeat_days_selector_id").selectpicker("refresh");
                }
                
            });

            $('.js-data-example-ajax').select2({
              ajax: {
                url: "http://api.gospeltribes.com/admin/1/ajax_for_sample_page", 
                method: "post",
                data: function(params){
                    var query = { search: params.term }
                    return query;
                },
                processResults: function (data) {
                  var results = new Array();
                  if(data != null){
                    data.predictions.forEach(function(element){
                        results.push({ "id": element["description"], "text": element["description"] });
                    });
                  }
                  return { "results": results };
                },
                minimumInputLength: 1, 
                placeholder: "Location"
              }
            });
        });
    </script>
<%end%>