<style type="text/css">
	.chats li.out .message {
		border-right: 2px solid #00feff;
	}

	.chats li.in .message {
		border-left: 2px solid #00feff;
	}

	.chats li.out .message .arrow{
		border-left: 8px solid #00feff;
	}

	.chats li.in .message .arrow {
		border-right: 8px solid #00feff; 
	}

	.tabbable-line > .nav-tabs > li.active {
		border-bottom: 4px solid #00feff;
	}

	.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
		border-bottom: 4px solid rgba(0, 254, 255, 0.5);
	}

	.btn.blue:not(.btn-outline) {
		background-color: #00feff;
		border-color: #00feff;
	}

	.chat-form .btn-cont .arrow {
		border-right: 8px solid #00feff;
	}
</style>

<div class="mt-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">
            	<% is_active_tabs = true %>
            	<% tabs_counter = 1 %>
            	<% is_active_panels = true %>
            	<% panels_counter = 1 %>
                <ul class="nav nav-tabs">
                	<% @group.chatrooms.each do |chatroom|%>
                		<li class="<%= is_active_tabs ? "active" : "" %>">
	                        <a href="#tab_1_<%= tabs_counter %>" data-toggle="tab" data-tab_id="<%= tabs_counter %>" class="tabs_to_click"> <%= chatroom.chatroom_name %> </a>
	                    </li>
                		<% is_active_tabs = false %>
                		<% tabs_counter += 1 %>
                	<%end%>
                </ul>
                <div class="tab-content">
            		<% @group.chatrooms.each do |chatroom| %>
            			<div class="tab-pane <%= is_active_panels ? "active" : "" %> fontawesome-demo" id="tab_1_<%= panels_counter %>">
							<div class="portlet light bordered">
								<div class="portlet-title">
									<div class="caption">
										<span class="caption-subject font-hide bold uppercase"><%= chatroom.chatroom_name %></span>
									</div>
								</div>
								<div class="portlet-body">
									<div class="scroller scroller-<%= chatroom.chatroom_type %>" style="height: 535px;">
										<% if chatroom.chatroom_messages.count == 0 %>
											<h3 align="center">THIS CONVERSATION IS EMPTY</h3>
										<%else%>
											<ul class="chats chat-<%= chatroom.chatroom_type %>">
												<% chatroom.chatroom_messages.each do |messages| %>
													<li class="<%= messages.user.id == current_user.id ? "out" : "in" %> delete">
														<img class="avatar" style="border: 1px solid black; height: 45px; width: 45px; object-fit: cover;" src="<%= messages.user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : messages.user.avatar.url %>" /> 
														<div class="message">
															
															<span class="arrow"> </span>
															<a href="javascript:;" class="name" style="color: grey;"> <%= messages.user.first_name.nil? && messages.user.last_name.nil? ? messages.user.username : "#{messages.user.first_name} #{messages.user.last_name}" %> </a>
															
															<span class="datetime"> at <%= "#{time_ago_in_words(messages.created_at)} ago" %> </span>
															<span class="body">
																<%= messages.body %>
															</span>
															<span class="body">
																<% if messages.group_medium.present? %>
																	<img src="<%= messages.group_medium.image.url %>" style="width: 500px;">
																<% end %>
															</span>
															<div class="delete-under" style="display: none;"><br>
																<a class="btn btn-circle red btn-sm delete-click" data-id="<%= messages.id %>" ><i class="icon-trash"></i> DELETE </a>
															</div>
														</div>
													</li>
												<%end%>
											</ul>
										<%end%>
									</div>
									<form method="post" class="chat-form send-form-<%= chatroom.id %>">
										<input type="hidden" name="chatroom_id" value="<%= chatroom.id %>">
										<input type="hidden" name="chatroom_type" value="<%= chatroom.chatroom_type %>">
										<div class="input-cont">
											<input class="form-control" name="body" type="text" placeholder="Type a message here..." />
										</div>
										<div class="btn-cont send-<%= chatroom.id %>">
											<span class="arrow"> </span>
											<a class="btn blue icn-only">
												<i class="fa fa-check icon-white"></i>
											</a>
										</div>
									</form>
								</div>
							</div>
	                    </div>
	                    
	                    <% is_active_panels = false %>
	                    <% panels_counter += 1 %>
            		<%end%>
                </div>
            </div>
        </div>
    </div>
</div>

<%= content_for(:javascript) do %>
	<script src="http://api.gospeltribes.com:9292/faye/client.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// console.log($('.chat-1').children()[$('.chat-1').children().length - 1]);
			// $('.chat-3').animate({scrollTop: $('.chat-3 li:last-child').position().top}, 'slow');

			$(".tabs_to_click").click(function(){
				switch($(this).data("tab_id")){
					case 1:
						$(".scroller-1").scrollTop($(".chat-1").height()-$(".scroller-1").height());
						break;
					case 2:
						$(".scroller-2").scrollTop($(".chat-2").height()-$(".scroller-2").height());
						break;
					case 3:
						$(".scroller-3").animate({ scrollTop: $(".chat-3").height()-$(".scroller-3").height() });
						break;
				}
			});

			var client = new Faye.Client('http://api.gospeltribes.com:9292/faye', {timeout: 120});
			client.subscribe("/group/<%= params[:dashboard_id] %>/chatrooms/<%= @group.chatrooms[0].id %>", function(data){
				if($(".scroller-1").find('ul')[0] == null){
					$(".scroller-1").children().remove();
					$(".scroller-1").append("<ul class=\"chats chat-1\">");
				}
				console.log(data);

				var datas = data["data"];
				var user = datas["user"];
				var string_to_append = "<li class=\"" + (user["id"] == <%= current_user.id %> ? "out" : "in" ) + " delete\">" +
					"<img class=\"avatar\" style=\"border: 1px solid black; height: 45px; width: 45px; object-fit: cover;\" src=\"" + (empty(user["avatar"]["url"]) ? "../../../assets/img/placeholder.png" : user["avatar"]["url"]) + "\" >" +
					"<div class=\"message\">" +
						"<span class=\"arrow\"></span>" +
						"<a href=\"javascript;;\" class=\"name\" style=\"color: grey;\"> " + ((empty(user["first_name"]) || empty(user["last_name"])) ? user["username"] : user["first_name"] + " " + user["last_name"]) + " </a>" +
						"<span class=\"datetime\"> at " + datas["date_sent"] + "</span>" +
						"<span class=\"body\">" +
							datas["message"] +
						"</span>" +
						"<span class=\"body\">" +
							(datas["media"] == null ? "" : datas["media"]) +
						"</span>" +
						"<div class=\"delete-under\" style=\"display: none;\"><br>" +
						"<a class=\"btn btn-circle red btn-sm delete-click\" data-id=\"" + datas["id"] + "\" ><i class=\"icon-trash\"></i> DELETE </a></div>" +
					"</div>" +
				"</li>";
				$(".chat-1").append(string_to_append);
				$(".scroller-1").animate({ scrollTop: $(".chat-1").height()-$(".scroller-1").height() });
			});

			client.subscribe("/group/<%= params[:dashboard_id] %>/chatrooms/<%= @group.chatrooms[1].id %>", function(data){
				if($(".scroller-2").find('ul')[0] == null){
					$(".scroller-2").children().remove();
					$(".scroller-2").append("<ul class=\"chats chat-2\">");
				}
				console.log(data);

				var datas = data["data"];
				var user = datas["user"];
				var string_to_append = "<li class=\"" + (user["id"] == <%= current_user.id %> ? "out" : "in" ) + " delete\">" +
					"<img class=\"avatar\" style=\"border: 1px solid black; height: 45px; width: 45px; object-fit: cover;\" src=\"" + (empty(user["avatar"]["url"]) ? "../../../assets/img/placeholder.png" : user["avatar"]["url"]) + "\" >" +
					"<div class=\"message\">" +
						"<span class=\"arrow\"></span>" +
						"<a href=\"javascript;;\" class=\"name\" style=\"color: grey;\"> " + ((empty(user["first_name"]) || empty(user["last_name"])) ? user["username"] : user["first_name"] + " " + user["last_name"]) + " </a>" +
						"<span class=\"datetime\"> at " + datas["date_sent"] + "</span>" +
						"<span class=\"body\">" +
							datas["message"] +
						"</span>" +
						"<span class=\"body\">" +
							(datas["media"] == null ? "" : datas["media"]) +
						"</span>" +
						"<div class=\"delete-under\" style=\"display: none;\"><br>" +
						"<a class=\"btn btn-circle red btn-sm delete-click\" data-id=\"" + datas["id"] + "\" ><i class=\"icon-trash\"></i> DELETE </a></div>" +
					"</div>" +
				"</li>";
				$(".chat-2").append(string_to_append);
				$(".scroller-2").animate({ scrollTop: $(".chat-2").height()-$(".scroller-2").height() });
			});

			client.subscribe("/group/<%= params[:dashboard_id] %>/chatrooms/<%= @group.chatrooms[2].id %>", function(data){
				if($(".scroller-3").find('ul')[0] == null){
					$(".scroller-3").children().remove();
					$(".scroller-3").append("<ul class=\"chats chat-3\">");
				}
				console.log(data);

				var datas = data["data"];
				var user = datas["user"];
				var string_to_append = "<li class=\"" + (user["id"] == <%= current_user.id %> ? "out" : "in" ) + " delete\" >" +
					"<img class=\"avatar\" style=\"border: 1px solid black; height: 45px; width: 45px; object-fit: cover;\" src=\"" + (empty(user["avatar"]["url"]) ? "../../../assets/img/placeholder.png" : user["avatar"]["url"]) + "\" >" +
					"<div class=\"message\">" +
						"<span class=\"arrow\"></span>" +
						"<a href=\"javascript;;\" class=\"name\" style=\"color: grey;\"> " + ((empty(user["first_name"]) || empty(user["last_name"])) ? user["username"] : user["first_name"] + " " + user["last_name"]) + " </a>" +
						"<span class=\"datetime\"> at " + datas["date_sent"] + "</span>" +
						"<span class=\"body\">" +
							datas["message"] +
						"</span>" +
						"<span class=\"body\">" +
							(datas["media"] == null ? "" : datas["media"]) +
						"</span>" +
						"<div class=\"delete-under\" style=\"display: none;\"><br>" +
						"<a class=\"btn btn-circle red btn-sm delete-click\" data-id=\"" + datas["id"] + "\" ><i class=\"icon-trash\"></i> DELETE </a></div>" +
					"</div>" +
				"</li>";

				$(".chat-3").append(string_to_append);
				$(".scroller-3").animate({ scrollTop: $(".chat-3").height()-$(".scroller-3").height() });

			});

			function empty(str){
                return !str || !/[^\s]+/.test(str);
            }

            $(document).on("mouseenter", ".delete", function(){
            	$(this).find(".delete-under").css("display", "block");
            });

            $(document).on("mouseleave", ".delete", function(){
            	$(this).find(".delete-under").css("display", "none");
            });

            $(document).on("click", ".delete-click", function(){
            	if(confirm("Do you really want to delete this message?")){
					var li_parent = $(this).parent().parent().parent();
					var id = $(this).data("id");
					// alert(id);
					$.ajax({
						url: "<%= admin_dashboard_ajax_delete_messaging_path %>",
						method: "post",
						data: { chatroom_message_id: id },
						success: function(e){
							console.log(e);
							li_parent.remove();
						}
					});
            	}
            });

			<% @group.chatrooms.each do |chatroom|%>
				$(".send-<%= chatroom.id %>").click(function(){				
					$(".send-form-<%= chatroom.id %>").submit();
				});

				$(".send-form-<%= chatroom.id %>").submit(function(e){
					e.preventDefault();
					var $inputs = $('.send-form-<%= chatroom.id %> :input');

					var input = null;

					var values = {};
				    $inputs.each(function() {
				        values[this.name] = $(this).val();
				        console.log(this.name);
				        if(this.name == "body"){
				        	$(this).val(null);
				        }
				    });

				    values["user_id"] = "<%= current_user.id %>";
				    values["group_id"] = "<%= params[:dashboard_id] %>";
				    if(values["body"] != ""){
				    	$.ajax({
							url: "<%= admin_dashboard_ajax_messaging_path %>",
							method: "post",
							data: values,
							success: function(e){

							}
						});
				    }
				    
				});
			<%end%>
		});
	</script>
<%end%>