<div class="portfolio-content portfolio-4">
    <% if @media.count == 0 %>
        <h3 align="center">EMPTY</h3>
    <% else %>
        <div id="js-grid-full-width" class="cbp">
            <% @media.each do |medium| %>
                <div class="cbp-item" style="border: 0.5px solid #eee;">
                    <a href="<%= medium.is_video ? medium.video_name.thumb.url : medium.image.url %>" class="cbp-caption cbp-lightbox" data-title="by <%= (medium.user.first_name.nil? && medium.user.last_name.nil?) ?  medium.user.username : "#{medium.user.first_name} #{medium.user.last_name}" %>">
                        <div class="cbp-caption-defaultWrap">
                            <img src="<%= medium.is_video ? medium.video_name.thumb.url : medium.image.url %>" alt=""> </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">
                                        by <%= (medium.user.first_name.nil? && medium.user.last_name.nil?) ?  medium.user.username : "#{medium.user.first_name} #{medium.user.last_name}" %>
                                        <div class="btn btn-circle red btn-sm div-as-button" style="margin-top: -7px; float: right;" data-id="<%= medium.id %>"><i class="icon-trash"></i> Remove</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
<%= content_for(:javascript) do %>
    <script type="text/javascript">
        $(document).ready(function(){

            function constructNewGallery(e){
                var content = "<div id=\"js-grid-full-width\" class=\"cbp\">";
                e.media.forEach(function(element){
                    content += "<div class=\"cbp-item\" style=\"border: 0.5px solid #eee;\">" + 
                        "<a href=\"" + (element["medium"]["is_video"] ? element["medium"]["video_name"]["thumb"]["url"] : element["medium"]["image"]["url"]) + "\" class=\"cbp-caption cbp-lightbox\" data-title=\"by " + ((element["user"]["first_name"] == null && element["user"]["last_name"] == null) ? element["user"]["username"] : element["user"]["first_name"] + " " + element["user"]["last_name"]) + " \">" + 
                            "<div class=\"cbp-caption-defaultWrap\">" + 
                                "<img src=\"" + (element["medium"]["is_video"] ? element["medium"]["video_name"]["thumb"]["url"] : element["medium"]["image"]["url"]) + "\" alt=\"\"> </div>" +
                            "<div class=\"cbp-caption-activeWrap\">" + 
                                "<div class=\"cbp-l-caption-alignLeft\">" + 
                                    "<div class=\"cbp-l-caption-body\">" + 
                                        "<div class=\"cbp-l-caption-desc\">" + 
                                            "by " + ((element["user"]["first_name"] == null && element["user"]["last_name"] == null) ? element["user"]["username"] : element["user"]["first_name"] + " " + element["user"]["last_name"]) + 
                                            "<div class=\"btn btn-circle red btn-sm div-as-button\" style=\"margin-top: -7px; float: right;\" data-id=\"" + element["medium"]["id"] + "\"><i class=\"icon-trash\"></i> Remove</div>" + 
                                        "</div>" + 

                                    "</div>" + 
                                "</div>" + 
                            "</div>" + 
                        "</a>" + 
                    "</div>";
                });
                content += "</div>";
                return content;
            }

            $('.div-as-button').click(buttonCallback);

            function buttonCallback(e){
                if(confirm("Do you really want to delete this image?")){
                    $.ajax({
                        url: "<%= admin_dashboard_ajax_delete_media_path %>",
                        method: "post",
                        data: { media_id: $(this).data("id") },
                        success: function(e){
                            if(e.media.length != 0){
                                $('.portfolio-4').html(constructNewGallery(e));

                                $('#js-grid-full-width').cubeportfolio({
                                    filters: '#js-filters-full-width',
                                    loadMore: '#js-loadMore-full-width',
                                    loadMoreAction: 'auto',
                                    layoutMode: 'mosaic',
                                    sortToPreventGaps: true,
                                    defaultFilter: '*',
                                    animationType: 'fadeOutTop',
                                    gapHorizontal: 0,
                                    gapVertical: 0,
                                    gridAdjustment: 'responsive',
                                    mediaQueries: [{
                                        width: 1500,
                                        cols: 5
                                    }, {
                                        width: 1100,
                                        cols: 4
                                    }, {
                                        width: 800,
                                        cols: 3
                                    }, {
                                        width: 480,
                                        cols: 2
                                    }, {
                                        width: 320,
                                        cols: 1
                                    }],
                                    caption: 'zoom',
                                    displayType: 'lazyLoading',
                                    displayTypeSpeed: 100,
                                    
                                    // lightbox
                                    lightboxDelegate: '.cbp-lightbox',
                                    lightboxGallery: true,
                                    lightboxTitleSrc: 'data-title',
                                    lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
                                });
                                $('.div-as-button').click(buttonCallback);
                            }else{
                                $('.cbp').html("<h3 align=\"center\">EMPTY</h3>");
                            }
                            // this_parent.remove();
                        }
                    });
                }
                
                return false;

            }
        });
    </script>
<% end %>
