<style type="text/css">
    .font-green-steel {
        color: #00feff !important;
    }

    .btn.green:not(.btn-outline) {
        background-color: #00feff;
        border-color: #00feff;
    }
</style>
<div class="col-md-12 col-sm-12">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-green-steel bold uppercase">Members</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th colspan="2"> NAME </th>
                            <th> PRAYERS </th>
                            <th> MEDIA FILES </th>
                            <th> ACTION </th>
                        </tr>
                    </thead>
                    <% @group_members.each do |member| %>
                        <tr>
                            <td class="fit">
                                <img class="user-pic rounded" style="height: 45px; width: 45px; object-fit: cover; border: 1px solid black;" src="<%= member[:avatar].nil? ? "../../../assets/img/placeholder.png" : "../..#{member[:avatar]}" %>"> </td>
                            <td>
                                <a href="javascript:;" class="primary-link"><%= member[:first_name].nil? && member[:last_name].nil? ? member[:username] : "#{member[:first_name]} #{member[:last_name]}" %></a>
                            </td>
                            <td> <%= member[:prayer_count] %> </td>
                            <td> <%= member[:group_medium_count] %> </td>
                            <td class="col-xs-2">
                                <%= link_to admin_dashboard_profile_path(id: member[:id]), class: "btn btn-circle green btn-sm" do %>
                                    <i class="icon-eye"></i> View 
                                <% end %>
                                <%if member[:role].to_i != 1%>
                                    <%= link_to admin_dashboard_member_destroy_path(member), data: {confirm: 'Are you sure you want to delete this member?'}, class: "btn btn-circle red btn-sm" do %>
                                        <i class="icon-trash"></i> Remove 
                                    <% end %>
                                <%end%>

                                <% if member[:id] != current_user.id %>
                                <%= link_to admin_dashboard_profile_settings_path(id: member[:id])+"#tab_1_4", class: "btn btn-circle green btn-sm" do %>
                                    <!-- <i class="icon-eye"></i> --> Privilege 
                                <% end %>
                                <%end%>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
