<style type="text/css">
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #00feff;
    }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid rgba(0, 254, 255, 0.5);
    }

    .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-rejected {
        color: black;
    }
    
    .btn.green:not(.btn-outline) {
        background-color: #00feff;
        border-color: #00feff;
    }
</style>
<div class="mt-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> Praying For </a>
                    </li>
                    <li>
                        <a href="#tab_1_2" data-toggle="tab"> Answered Prayers </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab_1_1">
                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class="icon-bubbles font-dark hide"></i>
                                    <span class="caption-subject font-dark bold uppercase">Praying For</span>
                                </div>
                                <div class="actions">
                                    <button class="btn btn-circle btn-default btn-sm add-prayer" data-toggle="modal" data-target="#basic">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="mt-comments">
                                            <% if @prayers_u.count == 0 %>
                                                <h3 align="center">EMPTY</h3>
                                            <% else %>
                                                <% @prayers_u.each do |prayer| %>
                                                    <div class="mt-comment">
                                                        <div class="mt-comment-img">
                                                            <img style="width: 45px; height: 45px; object-fit: cover; border: 1px solid black;" src="<%= prayer.user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : prayer.user.avatar.url %>" /> </div>
                                                        <div class="mt-comment-body">
                                                            <div class="mt-comment-info">
                                                                <span class="mt-comment-author"><%= (current_user.first_name.nil? && current_user.last_name.nil?) ?  current_user.username : "#{current_user.first_name} #{current_user.last_name}" %></span>
                                                                <span class="mt-comment-date"><%= prayer.created_at %></span><br>
                                                                <div class="mt-comment-details">
                                                                    <span class="mt-comment-status mt-comment-status-rejected" style="margin-top: 0px;"><%= prayer.subject %></span>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="mt-comment-details">
                                                                <div class="mt-comment-status "> <%= prayer.details %> </div>
                                                                <ul class="mt-comment-actions">
                                                                    <a href="#" class="btn btn-circle green btn-sm view-prayer" data-toggle="modal" data-target="#basic2" data-prayer="<%= prayer.to_json %>">
                                                                        <i class="icon-eye"></i> View 
                                                                    </a>

                                                                    <%= link_to admin_dashboard_destroy_prayer_path(id: prayer.id, is_answered: false), data: {confirm: 'Are you sure you want to delete this prayer?'}, class: "btn btn-circle red btn-sm" do %>
                                                                        <i class="icon-trash"></i> Remove 
                                                                    <% end %>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fontawesome-demo" id="tab_1_2">
                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class="icon-bubbles font-dark hide"></i>
                                    <span class="caption-subject font-dark bold uppercase">Answered Prayers</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="mt-comments">
                                            <% if @prayers_a.count == 0 %>
                                                <h3 align="center">EMPTY</h3>
                                            <% else %>
                                                <% @prayers_a.each do |prayer| %>
                                                    <div class="mt-comment">
                                                        <div class="mt-comment-img">
                                                            <img style="width: 45px; height: 45px; object-fit: cover; border: 1px solid black;" src="<%= prayer.user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : prayer.user.avatar.url %>" /> </div>
                                                        <div class="mt-comment-body">
                                                            <div class="mt-comment-info">
                                                                <span class="mt-comment-author"><%= (current_user.first_name.nil? && current_user.last_name.nil?) ?  current_user.username : "#{current_user.first_name} #{current_user.last_name}" %></span>
                                                                <span class="mt-comment-date"><%= prayer.created_at %></span>
                                                            </div>
                                                            <div class="mt-comment-text"> <%= prayer.details %> </div>
                                                            <div class="mt-comment-details">
                                                                <span class="mt-comment-status mt-comment-status-rejected"><%= prayer.subject %></span>
                                                                <ul class="mt-comment-actions">
                                                                    <!-- <a href="#" class="btn btn-circle green btn-sm view-prayer" data-toggle="modal" data-target="#basic2" data-prayer="<%= prayer.to_json %>">
                                                                        <i class="icon-eye"></i> View 
                                                                    </a> -->

                                                                    <%= link_to admin_dashboard_destroy_prayer_path(id: prayer.id, is_answered: true), data: {confirm: 'Are you sure you want to delete this prayer?'}, class: "btn btn-circle red btn-sm" do %>
                                                                        <i class="icon-trash"></i> Remove 
                                                                    <% end %>
                                                                </ul>
                                                                <!-- <ul class="mt-comment-actions">
                                                                    <li>
                                                                        <a href="#">Quick Edit</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">View</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Delete</a>
                                                                    </li>
                                                                </ul> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for Prayer.new, as: :prayer, url: admin_dashboard_create_prayer_path, role: :form, html: { class: "new_prayer_create" } do |f| %>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -15px; margin-right: 10px;"></button>
                <div class="modal-body" style="margin-top: 25px;">
                    <div class="form-group">
                        <%= f.label "Subject", class: "control-label" %>
                        <%= f.text_field :subject, placeholder: "Title", class: "form-control new-prayer-title new-prayer" %>
                    </div>

                    <div class="form-group">
                        <%= f.label "Details", class: "control-label" %>
                        <%= f.text_area :details, placeholder: "Details", class: "form-control new-prayer-detaiils new-prayer", rows: 7, style: "resize: none;" %>
                    </div>

                    <div class="form-group">
                        <%= f.label "Share to", class: "control-label" %>
                        <select name="prayer[share_to]" class="bs-select form-control">
                            <option value="0" selected>Everyone</option>
                            <option value="1">Women only</option>
                            <option value="2">Men only</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Save", class: "btn green save-item save-item-1" %>
                </div>
            <%end%>
        </div>
    </div>
</div>

<div class="modal fade" id="basic2" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for Prayer.new, as: :prayer, url: admin_dashboard_edit_prayer_path, role: :form, html: { class: "new_prayer_edit" } do |f| %>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -15px; margin-right: 10px;"></button>
                <div class="modal-body" style="margin-top: 25px;">
                    <input type="hidden" name="prayer_id" id="prayer_id">
                    <div class="form-group">
                        <%= f.label "Subject", class: "control-label" %>
                        <%= f.text_field :subject, placeholder: "Title", class: "form-control prayer_title new-prayer" %>
                    </div>

                    <div class="form-group">
                        <%= f.label "Details", class: "control-label" %>
                        <%= f.text_area :details, placeholder: "Details", class: "form-control prayer_details new-prayer", rows: 7, style: "resize: none;" %>
                    </div>

                    <div class="form-group">
                        <%= f.label "Share to", class: "control-label" %>
                        <select name="prayer[share_to]" id="share_to" class="bs-select form-control">
                            <option value="0" selected>Everyone</option>
                            <option value="1">Women only</option>
                            <option value="2">Men only</option>
                        </select>
                    </div>
                    
                    <div class="form-group answered-details" style="display: none;">
                        <%= f.label "How was it answered?", class: "control-label" %>
                        <%= f.text_area :answered_details, placeholder: "How was it answered?", class: "form-control prayer_answered_details new-prayer", rows: 7, style: "resize: none;" %>
                    </div>


                    <%= f.hidden_field :is_answered, class: "prayer_is_answered" %>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Mark as Answered", class: "btn green mark-answer-item" %>
                    <%= f.submit "Save", class: "btn green save-item save-item-2" %>
                </div>
            <%end%>
        </div>
    </div>
</div>

<%= content_for(:javascript) do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".view-prayer").click(function(){
                $(".answered-details").css("display", "none");
                var datas = $(this).data("prayer");

                $('#share_to').find("option").remove();
                $("#share_to").selectpicker("refresh");

                switch(datas["share_to"]){
                    case 0:
                        $('#share_to').append("<option value=\"0\" selected>Everyone</option>");
                        $('#share_to').append("<option value=\"1\">Women only</option>");
                        $('#share_to').append("<option value=\"2\">Men only</option>");
                        break;
                    case 1:
                        $('#share_to').append("<option value=\"0\">Everyone</option>");
                        $('#share_to').append("<option value=\"1\" selected>Women only</option>");
                        $('#share_to').append("<option value=\"2\">Men only</option>");
                        break;
                    case 2:
                        $('#share_to').append("<option value=\"0\">Everyone</option>");
                        $('#share_to').append("<option value=\"1\">Women only</option>");
                        $('#share_to').append("<option value=\"2\" selected>Men only</option>");
                        break;
                }
                $("#share_to").selectpicker("refresh");

                $("#prayer_id").val(datas["id"]);
                $(".prayer_title").val(datas["subject"]);
                $(".prayer_details").val(datas["details"]);
                $(".prayer_answered_details").val(datas["answered_details"]);
                $(".prayer_is_answered").val(datas["is_answered"]);
                $(".mark-answer-item").show();
            });

            $(".mark-answer-item").click(function(e){
                e.preventDefault();
                var isDone = true;

                if($(".prayer_title").val() == ""){
                    isDone = false;
                    $(".prayer_title").css("border-color", "red");
                }

                if($(".prayer_details").val() == ""){
                    isDone = false;
                    $(".prayer_details").css("border-color", "red");
                }

                if(isDone){
                    $(".answered-details").css("display", "block");
                    $(".prayer_is_answered").val(1);
                    $(this).hide();
                }
                
            });

            $(".new-prayer").change(function(){
                $(this).css("border-color", "#c2cad8");
            });

            $(".save-item-1").click(function(e){
                e.preventDefault();
                var isDone = true;
                if($(".new-prayer-detaiils").val() == ""){
                    isDone = false;
                    $(".new-prayer-detaiils").css("border-color", "red");
                }

                if($(".new-prayer-title").val() == ""){
                    isDone = false;
                    $(".new-prayer-title").css("border-color", "red");
                }

                if(isDone){
                    $(".new_prayer_create").submit();
                }

            });

            $(".save-item-2").click(function(e){
                e.preventDefault();
                
                var isDone = true;

                if($(".prayer_title").val() == ""){
                    isDone = false;
                    $(".prayer_title").css("border-color", "red");
                }

                if($(".prayer_details").val() == ""){
                    isDone = false;
                    $(".prayer_details").css("border-color", "red");
                }

                if($(".prayer_is_answered").val() == 1){
                    if($(".prayer_answered_details").val() == ""){
                        isDone = false;
                        $(".prayer_answered_details").css("border-color", "red");
                    }
                }

                if(isDone){
                    $(".new_prayer_edit").submit();
                }
            });
        });
    </script>
<%end%>
