<style type="text/css">
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #00feff;
    }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid rgba(0, 254, 255, 0.5);
    }

    .font-blue-madison {
        color: #00feff !important;
    }

    .profile-usertitle-job {
        color: #00feff;
    }

    .profile-usermenu ul li.active a {
        color: #00feff;
        border-left: 2px solid #00feff;
    }

    .profile-usertitle-name {
        color: black;
    }

    .btn.green:not(.btn-outline) {
        background-color: #00feff;
        border-color: #00feff;
    }
    
    .profile-usermenu ul li a:hover {
        color: rgba(0, 254, 255, 0.5);
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet ">
                <div class="profile-userpic">
                    <img src="<%= @user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : @user.avatar.url %>" class="img-responsive" alt="" style="width: 150px; height: 150px; border: 1px solid black; object-fit: cover;"> </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> <%= "#{@user.first_name} #{@user.last_name}" %> </div>
                    <div class="profile-usertitle-job"> <%= "#{@user.username}" %> </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <%= link_to admin_dashboard_profile_path(id: params[:id]) do%>
                            <i class="icon-home"></i> Profile 
                            <%end%>
                        </li>
                        <li class="active">
                            <%= link_to admin_dashboard_profile_settings_path(id: params[:id]) do%>
                            <i class="icon-settings"></i> Account Settings 
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                                </li>
                                <% if current_user != @user %>
                                    <li>
                                        <a href="#tab_1_4" data-toggle="tab">Privilege</a>
                                    </li>
                                <%end%>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <%= form_for User.new, as: :user, url: admin_dashboard_edit_personal_info_path(user_id: @user), role: :form do |f| %>
                                        <div class="form-group">
                                            <%= f.label "First Name", class: "control-label" %>
                                            <%= f.text_field :first_name, placeholder: "First Name", class: "form-control", value: @user.first_name %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "Last Name", class: "control-label" %>
                                            <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control", value: @user.last_name %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "City", class: "control-label" %>
                                            <%= f.text_field :city, placeholder: "City", class: "form-control", value: @user.city %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "State", class: "control-label" %>
                                            <%= f.text_field :state, placeholder: "State", class: "form-control", value: @user.state %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "ZIP", class: "control-label" %>
                                            <%= f.text_field :zip, placeholder: "ZIP", class: "form-control", value: @user.zip %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "Mobile Number", class: "control-label" %>
                                            <%= f.text_field :phone_number, placeholder: "Mobile Number", class: "form-control", value: @user.phone_number %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "Birth Date", class: "control-label" %>
                                            <%= f.text_field :birth_date, placeholder: "Birth Date", class: "form-control", value: @user.birth_date %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "Email", class: "control-label" %>
                                            <%= f.email_field :email, placeholder: "Email", class: "form-control", value: @user.email %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "Gender", class: "control-label" %>
                                            <div class="mt-radio-inline" style="margin-top: -10px;">
                                                <label class="mt-radio">
                                                    <input type="radio" name="user[gender]" value="Male" <%= @user.gender == "Male" ? "checked" : "" %> /> Male
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio">
                                                    <input type="radio" name="user[gender]" value="Female" <%= @user.gender == "Female" ? "checked" : "" %> /> Female
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="margiv-top-10">
                                            <%= f.submit "Save Changes", class: "btn green" %>
                                        </div>
                                    <%end%>
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    <%= form_for User.new, as: :user, url: admin_dashboard_edit_user_avatar_path(user_id: @user), role: :form do |f| %>
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    <img src="<%= @user.avatar.url %>" alt="" /> </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new"> Select image </span>
                                                        <span class="fileinput-exists"> Change </span>
                                                        <%= f.file_field :avatar %> </span>
                                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="margin-top-10">
                                            <%= f.submit "Submit", class: "btn green" %>
                                        </div>
                                    <%end%>
                                </div>
                                <div class="tab-pane" id="tab_1_3">
                                    <%= form_for User.new, as: :pass, url: admin_dashboard_edit_user_account_path(user_id: @user), role: :form do |f| %>
                                        <div class="form-group">
                                            <%= f.label "Username", class: "control-label" %>
                                            <%= f.text_field :username, placeholder: "Username", class: "form-control", value: @user.username %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label "Current Password", class: "control-label" %>
                                            <%= f.password_field :current_password, placeholder: "Current Password", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label "New Password", class: "control-label" %>
                                            <%= f.password_field :password, placeholder: "New Password", class: "form-control" %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label "Re-type New Password", class: "control-label" %>
                                            <%= f.password_field :password_confirmation, placeholder: "Re-type New Password", class: "form-control" %>
                                        </div>

                                        <div class="margin-top-10">
                                            <%= f.submit "Change Password", class: "btn green" %>
                                        </div>
                                    <%end%>
                                </div>
                                <% @role = @user.group_members.find_by_group_id(params[:dashboard_id]).role %>

                                <% if current_user != @user %>
                                    <div class="tab-pane" id="tab_1_4">
                                        <%= form_for Group.new, as: :group, url: admin_dashboard_manage_privilege_path do |f| %>
                                            <input type="hidden" name="privilege[user_id]" value="<%= params[:id] %>" />
                                            <table class="table table-light table-hover">
                                                <tr>
                                                    <td>
                                                        <div class="mt-radio-inline">
                                                            <label class="mt-radio">
                                                                <%if @role == 2 %>
                                                                    <input type="radio" name="privilege[privilege_choice]" value="2" checked /> Regular User
                                                                <%else%>
                                                                    <input type="radio" name="privilege[privilege_choice]" value="2" /> Regular User
                                                                <%end%>
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="mt-radio-inline">
                                                            <label class="mt-radio">
                                                                <% if @role == 1 %>
                                                                    <input type="radio" name="privilege[privilege_choice]" value="1" checked /> Small Admin
                                                                <%else%>
                                                                    <input type="radio" name="privilege[privilege_choice]" value="1" /> Small Admin
                                                                <%end%>
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="mt-radio-inline">
                                                            <label class="mt-radio">
                                                                <% if @user.role == "1" %>
                                                                    <input type="radio" name="privilege[privilege_choice]" value="3" checked /> Admin
                                                                <%else%>
                                                                    <input type="radio" name="privilege[privilege_choice]" value="3"  /> Admin
                                                                <%end%>
                                                                
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="margin-top-10">
                                                <%= f.submit "Save Changes", class: "btn green" %>
                                            </div>
                                        <%end%>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>