<style type="text/css">
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #00feff;
    }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid rgba(0, 254, 255, 0.5);
    }

    .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-rejected {
        color: black;
    }

    .font-blue-madison {
        color: #00feff !important;
    }

    .profile-usertitle-job {
        color: #00feff;
    }

    .profile-usermenu ul li.active a {
        color: #00feff;
        border-left: 2px solid #00feff;
    }

    .profile-usertitle-name {
        color: black;
    }

    .profile-usermenu ul li a:hover {
        color: rgba(0, 254, 255, 0.5);
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet ">
                <div class="profile-userpic">
                    <img src="<%= @user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : @user.avatar.url %>" class="img-responsive" alt="" style="width: 150px; height: 150px; border: 1px solid black; object-fit: cover;"> </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> <%= "#{@user.first_name} #{@user.last_name}" %> </div>
                    <div class="profile-usertitle-job"> <%= "#{@user.username}" %> </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <%= link_to admin_dashboard_profile_path(id: params[:id]) do%>
                            <i class="icon-home"></i> Profile 
                            <%end%>
                        </li>
                        <li>
                            <%= link_to admin_dashboard_profile_settings_path(id: params[:id]) do%>
                            <i class="icon-settings"></i> Account Settings 
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <span class="caption-subject font-blue-madison bold uppercase">Profile</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab"> Media </a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab"> Prayer </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <% if @prayers.count == 0 %>
                                        <h3 align="center">EMPTY</h3>
                                    <%else%>
                                        <div class="mt-comments">
                                            <% @prayers.each do |prayer| %>
                                                <div class="mt-comment">
                                                    <div class="mt-comment-img">
                                                        <img style="width: 45px; height: 45px; object-fit: cover; border: 1px solid black;" src="<%= @user.avatar.url.nil? ? "../../../assets/img/placeholder.png" : @user.avatar.url %>" /> </div>
                                                    <div class="mt-comment-body">
                                                        <div class="mt-comment-info">
                                                            <span class="mt-comment-author"><%= (@user.first_name.nil? && @user.last_name.nil?) ?  @user.username : "#{@user.first_name} #{@user.last_name}" %></span>
                                                            <span class="mt-comment-date"><%= prayer.created_at %></span>
                                                        </div>
                                                        <div class="mt-comment-text"> <%= prayer.details %> </div>
                                                        <div class="mt-comment-details">
                                                            <span class="mt-comment-status mt-comment-status-rejected"><%= prayer.subject %></span>
                                                            <ul class="mt-comment-actions">
                                                                <%= link_to admin_dashboard_destroy_from_profile_path(prayer_id: prayer.id, user_id: params[:id]), data: {confirm: 'Are you sure you want to delete this prayer?'}, class: "btn btn-circle red btn-sm" do %>
                                                                    <i class="icon-trash"></i> Remove 
                                                                <% end %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                    <%end%>
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    <% if @media.count == 0 %>
                                        <h3 align="center">EMPTY</h3>
                                    <%else%>
                                        <div class="portfolio-content portfolio-4">
                                            <div id="js-grid-full-width" class="cbp">
                                                <% @media.each do |medium| %>
                                                    <div class="cbp-item" style="border: 0.5px solid #eee;">
                                                        <a href="<%= medium[:is_video] ? medium[:thumb] : medium[:image] %>" class="cbp-caption cbp-lightbox" >
                                                            <div class="cbp-caption-defaultWrap">
                                                                <img src="<%= medium[:is_video] ? medium[:thumb] : medium[:image] %>" alt="">
                                                            </div>
                                                            <div class="cbp-caption-activeWrap">
                                                                <div class="cbp-l-caption-alignLeft">
                                                                    <div class="cbp-l-caption-body">
                                                                        <div class="cbp-l-caption-desc">
                                                                            <div class="btn btn-circle red btn-sm div-as-button" style="margin-top: -7px; float: right;" data-id="<%= medium[:id] %>"><i class="icon-trash"></i> Remove</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= content_for(:javascript) do %>
    <script type="text/javascript">
        $(document).ready(function(){
            function constructNewGallery(e){
                var content = "<div id=\"js-grid-full-width\" class=\"cbp\">";
                e.media.forEach(function(element){
                    content += "<div class=\"cbp-item\" style=\"border: 0.5px solid #eee;\">" +
                        "<a href=\" " + (element["is_video"] ? element["thumb"] : element["image"]) + " \" class=\"cbp-caption cbp-lightbox\" >" +
                            "<div class=\"cbp-caption-defaultWrap\">" +
                                "<img src=\" " + (element["is_video"] ? element["thumb"] : element["image"]) + " \" >" +
                            "</div>" +
                            "<div class=\"cbp-caption-activeWrap\">" +
                                "<div class=\"cbp-l-caption-alignLeft\">" +
                                    "<div class=\"cbp-l-caption-body\">" +
                                        "<div class=\"cbp-l-caption-desc\">" +
                                            "<div class=\"btn btn-circle red btn-sm div-as-button\" style=\"margin-top: -7px; float: right;\" data-id=\"" + element["id"] + "\"><i class=\"icon-trash\"></i> Remove</div>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                        "</a>" +
                    "</div>";
                });
                content += "</div>";
                return content;
            }

            $('.div-as-button').click(buttonCallback);
            function buttonCallback(e){
                if(confirm("Do you really want to delete this image?")){
                    $.ajax({
                        url: "<%= admin_dashboard_ajax_delete_media_from_profile_path %>",
                        method: "post",
                        data: { media_id: $(this).data("id"), user_id: "<%= params[:id] %>" },
                        success: function(e){
                            if(e.media.length != 0){
                                $('.portfolio-4').html(constructNewGallery(e));

                                $('#js-grid-full-width').cubeportfolio({
                                    filters: '#js-filters-full-width',
                                    loadMore: '#js-loadMore-full-width',
                                    loadMoreAction: 'auto',
                                    layoutMode: 'mosaic',
                                    sortToPreventGaps: true,
                                    defaultFilter: '*',
                                    animationType: 'fadeOutTop',
                                    gapHorizontal: 0,
                                    gapVertical: 0,
                                    gridAdjustment: 'responsive',
                                    mediaQueries: [{
                                        width: 1500,
                                        cols: 5
                                    }, {
                                        width: 1100,
                                        cols: 4
                                    }, {
                                        width: 800,
                                        cols: 3
                                    }, {
                                        width: 480,
                                        cols: 2
                                    }, {
                                        width: 320,
                                        cols: 1
                                    }],
                                    caption: 'zoom',
                                    displayType: 'lazyLoading',
                                    displayTypeSpeed: 100,
                                    
                                    lightboxDelegate: '.cbp-lightbox',
                                    lightboxGallery: true,
                                    lightboxTitleSrc: 'data-title',
                                    lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
                                });

                                $('.div-as-button').click(buttonCallback);
                            }else{
                                $('.cbp').html("<h3 align=\"center\">EMPTY</h3>");
                            }
                        }
                    });
                }
                return false;
            }
        });
    </script>
<% end %>