<div class="col-md-12 col-sm-12">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-green-steel bold uppercase">Members</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <select class="js-data-example-ajax" style="width: 30%;"></select>
            </div>
        </div>
    </div>
</div>
<%= content_for(:javascript) do %>
    <!--  -->
    <!-- assets/global/plugins/angularjs/plugins/ui-select/select.min.js -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.js-data-example-ajax').select2({
              ajax: {
                url: "http://api.gospeltribes.com/smalladmin/1/ajax_for_sample_page", 
                method: "post",
                data: function(params){
                    var query = { search: params.term }
                    return query;
                },
                processResults: function (data) {
                  var results = new Array();
                  if(data != null){
                    data.predictions.forEach(function(element){
                        results.push({ "id": element["description"], "text": element["description"] });
                    });
                  }
                  return { "results": results };
                },
                minimumInputLength: 1
              }
            });
        });
    </script>
<% end %>