<style type="text/css">
    .btn.green:not(.btn-outline) {
        background-color: #00feff;
        border-color: #00feff;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <%= form_for Group.new, as: :group, url: admin_dashboard_manage_group_path, html: { class: "group-name-form" } do |f| %>
                    <div class="portlet light ">
                        <div class="profile-userpic col-md-6 col-md-offset-3">
                            <img src="<%= @group.group_image.url.nil? ? "../../assets/img/placeholder.png" : @group.group_image.url %>" style="border: 1px #00FEFF solid; height: 200px; width: 200px;" class="img-responsive group_img" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <center><br><span class="btn default btn-file">
                                    <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <%= f.file_field :group_image, class: "group_image" %>
                                </span></center>
                                <h3 align="center"><%= @group.group_code %></h3>
                                <br>
                                <div class="form-group">
                                    <%= f.label "Group Name", class: "control-label" %>
                                    <%= f.text_field :group_name, placeholder: "Group Name", class: "form-control group-name", value: @group.group_name %>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <a class="btn red delete_group" data-toggle="modal" data-target="#basic">Delete Group</a>
                                        <%= f.submit "Save Changes", class: "btn green save_changes_button" %>
                                        <%= f.submit "Save Changes", class: "true_save", style: "display: none;" %>
                                        <%= f.submit "Delete Group", class: "btn red delete_group_final", style: "display: none;" %>
                                    </center>
                                </div>
                                <div class="form-group error-container" style="display: none;">
                                    <center>
                                        <label style="color: red;">Group name is required</label>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Are you absolutely sure?</h4>
            </div>
            <div class="modal-body">
                <b>This action cannot be undone. This will permanently delete the <%= @group.group_name %> group.</b>
                <br><br>
                Please type in the name of the group to confirm <br><br>
                <input type="text" name="group_name" class="form-control group_name_confirm" placeholder="<%= @group.group_name %>">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red delete_group_confimation" disabled>Delete this group</button>
            </div>
        </div>
    </div>
</div>
<%= content_for(:javascript) do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".group_image").change(function(){
                var files = $(this).prop('files');
                console.log(files[0]);
                var fr = new FileReader();
                fr.onload = function(e) { $(".group_img").attr("src", this.result); };
                fr.readAsDataURL(files[0]);
            });

            $(".group-name").change(function(){
                $(".error-container").css("display", "none");
            });

            $(".save_changes_button").click(function(e){
                e.preventDefault();
                if($(".group-name").val() == ""){
                    $(".error-container").css("display", "block");
                }else{
                    $(".true_save").click();
                }
            });

            $('.group_name_confirm').keyup(function(){
                if($(this).val() == "<%= @group.group_name %>"){
                    $('.delete_group_confimation').attr("disabled", false);
                }else{
                    $('.delete_group_confimation').attr("disabled", true);
                }
            });

            $('.delete_group_confimation').click(function(){
                $(".delete_group_final").click();
            });
        });
    </script>
<%end%>