<h4><%= @message %></h4>
<table>
	<tr>
		<td>SUBJECT:</td>
		<td><%= @prayer[:prayer][:subject] %></td>
	</tr>
	<tr>
		<td>PRAYER DETAILS: </td>
		<td><%= @prayer[:prayer][:details] %></td>
	</tr>
	<tr>
		<td>HOW WAS IT ANSWERED: </td>
		<td><%= @prayer[:prayer][:answered_details] %></td>
	</tr>
</table>